{% if section.settings.title != blank%}
<div class="full-width-content-img-cta light-grey-bg">
  <div class="container-1060">
    <div class="content">
      <h2>{{section.settings.title}}</h2>
      {{section.settings.description}}
      {% if section.settings.buttonText != blank %}
      <a class="btn-red" href="{{section.settings.buttonLink}}"
        title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
      {%endif%}
    </div>
    {% if section.settings.image != blank %}
    <div class="image-section">
      <picture>
        <source media="(max-width: 780px)" srcset="{{ section.settings.image | img_url: '500x' }}" >
      <img class="lazyload" src="{{ section.settings.image | img_url: '700x' }}" alt="{{section.settings.title}}">
      </picture>
    </div>
    {%endif%}
  </div>
</div>
{%endif%}








