<div class="error-404-page flex-align-center">
    <div class="container-1400 text-center">
        <div class="image-section">
            {% if section.settings.backgroundImage != blank %}
            <img src="{{ section.settings.backgroundImage | img_url: 'master' }}" alt="{{section.settings.title}}">
            {%endif%}
        </div>
        <div class="content">
            <p>{{ section.settings.title }}</p>
            <h2>{{ section.settings.description }} </h2>
            {% if section.settings.buttonText != blank %}
            <a href="{{ routes.root_url }}" title="{{ section.settings.buttonText }}" class="btn-red">{{
                section.settings.buttonText }}</a>
            {%endif%}
        </div>
    </div>
</div>









