.cta-btn-common-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 35px 25px;
    background-color: #e5f2f7;
    line-height: 28px;
    .blog-cta-btn-text {
        max-width: 55%;
        font-size: 16px;
        font-weight: 600;
    }
    .hs-cta-wrapper {
        &:hover {
            background-color: #0378ab !important;
            border-radius: 6px !important;
        }
        a {
            min-width: 100px !important;
            text-align: center !important;
            font-size: 16px !important;
            padding: 6px 10px !important;
            &:hover {
                background: #0378ab !important;
            }
        }
    }
    @media only screen and (max-width: 520px) {
        padding: 15px 15px;
        flex-direction: column;
        justify-content: space-between;
        .blog-cta-btn-text {
            text-align: center;
            margin-bottom: 5px;
            max-width: none;
            line-height: 1.4;
        }
    }
}
