.comments-wrapper {
    list-style: none;
    padding: 0;
    margin: 40px auto;
    max-width: 640px;
    .h3 {
        margin-bottom: 17px;
        font-size: 1.625em;
        text-transform: none;
        letter-spacing: 0;
        color: #3d4246;
    }
    .comments {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 680px) {
    .comments-wrapper__item {
        width: 85%;
    }
}
.comment {
    margin-bottom: 30px;
    color: #69727b;
    &:last-child {
        margin-bottom: 0;
    }
}

.comment__content {
    margin-bottom: 5px;
    color: #69727b;
}
.comment__meta-item {
    margin-right: 10px;
    font-size: 0.875em;
    color: #3d4246;
    &:first-child::before {
        content: "\2014 \0020";
    }
}
.comment-form {
    display: flex;
    flex-direction: column;
    > input {
        align-self: flex-end;
        margin-top: 10px;
    }
}
.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-item {
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-bottom: 19px;
        input {
            border: 1px solid #949494;
            background-color: #fff;
            color: #000;
            max-width: 100%;
            line-height: 1.2;
            border-radius: 2px;
            font-size: 16px;
            padding: 10px 18px;
        }
        &__text-area {
            margin-bottom: 10px;
            width: 100%;
            .input-full {
                display: block;
                width: 100%;
                border: 1px solid #949494;
                background-color: #fff;
                color: #3d4246;
                line-height: 1.2;
                border-radius: 2px;
                font-size: 16px;
                padding: 10px 18px;
                min-height: 100px;
            }
        }
    }
    .input-error-message {
        margin-top: 0;
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #3d4246;
    }
    input {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: #3d4246;
        line-height: 1.5;
    }
    @media only screen and (max-width: 480px) {
        .form-item {
            width: 100%;
        }
    }
}
.container-740 {
    hr {
        background-color: #e9f8ff;
        height: 1px;
        border: 0;
    }
}
