.selector-wrapper-custom {
    margin: 0 0 10px;
    select {
        border-radius: 0px;
        width: 100%;
        height: 48px;
        padding: 15px 20px 10px 10px;;
        border: solid 1px #d4d7d9;
        font-size: 13px;
        line-height: 1.31;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("./images/icon-triangle.png") no-repeat center right 5px / 11px;
    }
    .notValidated {
        select {
            border: solid 1px #e22120;
        }
        .validation-message {
            opacity: 1;
        }
    }
}
.options-quantity-wrapper {
    margin-top: 20px;
    height: 75px;
    align-items: end;
    .js-product-single__quantity {
        flex: none;
        margin-right: 10px;
    }
    .btn-red {
        margin-top: 23px;
        height: 48px;
    }
}

.accessories-selector-wrapper {
    margin: 0 0 10px;
    align-items: end;
    div {
        margin: 0 15px 0 0 !important;
    }
    .product-single__quantity {
        display: block !important;
    }
    .selector-wrapper {
        max-width: 100px;
        min-width: 75px;
    }
}
