.cart-drawer-loader {
	width: 2rem;
	height: 2rem;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #0378ab;
	border-radius: 100%;
	margin: auto;
	visibility: hidden;
	opacity: 0;
	animation: spin 1s infinite linear;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 7;
	transition: all 0.4s ease-out;
}
.cart-drawer.loading {
	&:after {
			content: '';
			z-index: 5;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .65);
			position: absolute;
			transition: all 0.4s ease-out;
	}
	.cart-drawer-loader {
			z-index: 7;
			visibility: visible;
			opacity: 1;
	}
}
@keyframes spin {
	from {
			transform: rotate(0deg);
	}
	to {
			transform: rotate(360deg);
	}
}
