.info-section {
    margin-top: 20px;
    .info-section__titleWrapper {
        display: flex;
        margin-bottom: 15px;
    }
    &__title {
        padding: 10px 0;
        cursor: pointer;
        font-size: 14px;
        color: #718096;
        font-weight: bold;
        margin-right: 20px;
        border-bottom: 1px solid transparent;
        @media only screen and (max-width: 480px) {
            line-height: 1.4;
        }
        &.active {
            color: black;
            transition: all 0.3s ease-out;
            border-bottom: 1.5px solid black;
        }
    }
    &__content {
        top: 0;
        left: 0;
        opacity: 0;
        font-size: 14px;
        color: #718096;
        line-height: 1.4;
        font-weight: 400;
        position: absolute;
        &.active {
            opacity: 1;
            color: black;
            transition: all 0.25s ease-out;
        }
    }
    &__contentWrapper {
        height: 78px;
        position: relative;
    }
}
