{%- assign preview_image = section.settings.backgroundImage -%}
{%- assign img_url =preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div class="inner-page-banner flex-align-center">
  <div class="image-section">
      {% if section.settings.backgroundImage != blank %}
        <img
        class="lazyload blur"
        alt="{{ section.settings.title }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900]"
        data-aspectratio="{{ preview_image.aspect_ratio }}"
        data-sizes="auto"
        data-image
    />
      {%endif%}
  </div>
  <div class="container-1400">
    <div class="content">
      <h2>{{section.settings.title}}</h2>
      <p class="large">{{section.settings.description}} </p>
    </div>
  </div>
</div>









