<footer>
  <div class="container-1020 flex">
    <!-- Menus -->
    <div class="footer-nav flex-wrap">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'link_list' %}
      <ul>
        {% for link in linklists[block.settings.menu].links %}
        <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      {% endcase %}
      {%endfor%}
    </div>

    <!-- Newsletter-->
    <div class="footer-newsletter">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when 'newsletter' %}
      <h3>{{ block.settings.title }}</h3>
      {{ block.settings.newsletterDesc }}
      <div class="newsletter-section">
         <form class="omnisend-subscribe-form">
        {% if form.posted_successfully? %}
        <p class="note form-success">
          Thank you for subscribing.
        </p>
        {% endif %}
        {{ form.errors | default_errors }}
        {% assign name_attr = 'contact.form.name' | t | handle %}
        <div class="newsletter-section-inner">
           <input type="hidden" name="contact[tags]" value="newsletter">
          <label for="mail" class="hidden">Email Address</label>
          <input type="email" id="ContactFormEmail" class="subscribe__field omnisend-subscribe-input-email" name="contact[email]"
            placeholder="Enter Email" autocorrect="off" autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
          <input type="submit" class="subscribe__btn link" value="Send">
        </div>
       </form>
      </div>
      {% endcase %}
      {%endfor%}
    </div>
  </div>
</footer>
<!-- Copyright with social icons-->
<div class="copyright">
  <div class="container-1020 relative">
    <!-- Social Ions-->
    <div class="social-section">
      {% include 'social-icons' %}
    </div>
    <p>© 2020 JS Dental Lab. All Rights Reserved. Site By <a target="_blank" href="https://www.sleeplessmedia.com/shopify/" title="Sleepless">Sleepless</a>.</p>
  </div>
</div>

{% include 'footer-scripts'%}







