<div id="cart" class="cart-section js-show-cart-items-section">
  <div class="container-1220">
    <a class="btn-continue ipad-block " href="/collections/all">Continue Shopping</a>
    <h1 >Cart</h1>
    <form action="/cart" method="post">
     {% section 'cart-coupon' %}
     {% section 'cart-form' %}
    </form>

    <div id="cart" class="cart-section empty-cart-section">
      <div class="container-1220 text-center">
        <div class="cart-header-section">
          <h1 class="uppercase">Your Cart is Currently Empty.</h1>
        </div>
        <a href="/collections/all" title="Continue Shopping" class="btn-red">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>
{{ 'sm-cart.aio.min.js'  | asset_url | script_tag }}
