<div class="why-us">
    {% section 'repurchase_inner-page-banner' %}
    <div class="bg-oval-shape">
        {% section 'repurchase_half-img-half-content-cta' %}
        {% section 'repurchase_full-width-content-cta' %}
    </div>
</div>
