<style>
  body {
    opacity: 0;
  }
</style>
<script>
  $(document).ready(function ($) {
    let items = [];
    /* insurance recharge */
    let insurance = JSON.parse(sessionStorage.getItem("insurance"));
    let InsuranceSellingPlanID = sessionStorage.getItem(
      "InsuranceSellingPlanID"
    );
    if (InsuranceSellingPlanID != "undefined") {
      InsuranceSellingPlanID = JSON.parse(InsuranceSellingPlanID);
      InsuranceSellingPlanID = parseInt(InsuranceSellingPlanID);
    } else {
      InsuranceSellingPlanID = "";
    }
    if (insurance) {
      if (window.location.href.toLowerCase().indexOf("remove") > -1) {
        CartJS.removeItemById(insurance, {
          "success": function (data, textStatus, jqXHR) {
          
            /* remove the line items from the cart page */
            sessionStorage.removeItem("InsuranceSellingPlanID");
            sessionStorage.removeItem("insurance");
            // Redirect to cart page.
            window.location.href = "/checkout";
          },
          "error": function (jqXHR, textStatus, errorThrown) {
            console.log('Error: ' + errorThrown + '!');
          }
        });
      } else {
        if (InsuranceSellingPlanID != "") {
          items.push({
            id: parseInt(insurance),
            quantity: 1,
            selling_plan: InsuranceSellingPlanID,
            // "properties": {
            //   "shipping_interval_frequency": "12",
            //   "shipping_interval_unit_type": "Months"
            // }
          });
        } else {
          items.push({
            id: parseInt(insurance),
            quantity: 1,
          });
        }
        // Create form data.
        let formData = {
          items: items,
        };
        // Add everythig to cart.
        fetch("/cart/add.js", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
          })
          .then((response) => {
            // Clear data from session.
            sessionStorage.removeItem("InsuranceSellingPlanID");
            sessionStorage.removeItem("insurance");
            // Redirect to cart page.
            window.location.href = "/checkout";
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    }
  })
</script>