<div class="why-us">
    {% section 'why-us_inner-page-banner' %}
    <div class="bg-oval-shape">
        {% section 'why-us_half-img-half-content-cta' %}
        {% section 'why-us_full-width-content-cta' %}
    </div>
</div>


