<style>
  .four-column-cta ul {
    padding-bottom: 0px;
  }
</style>

{% assign current_variant = product.selected_or_first_available_variant %}
{% section 'sm-product-accessories' %}
{% if product.metafields.product-overview.title != blank %}
  <div class="pdp-product-overview">
    <div class="container-1120 ">
      <h2>{{product.metafields.product-overview.title}}</h2>
      <div class="content flex">
        <p class="large" data-children-count="0">{{product.metafields.product-overview.description.markdown}}</p>
        <ul data-children-count="0">
          {% for value in product.metafields.product-overview.list_points %}
          <li>{{ product.metafields.product-overview.list_points[forloop.index0] }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
{% section 'product_four-column-cta' %}
{% if product.metafields.bg-content-video-cta.title != blank %}
  <div class="full-bg-content-with-video-cta">
    {% if product.metafields.bg-content-video-cta.image != blank %}
    {% assign bgimg = product.metafields.bg-content-video-cta.image | first %}
    <img src="{{ bgimg.cloudinary_src}}" alt="{{ bgimg.alt }}" />
    {% endif %}
    <div class="container-760 ">
      <h2>{{product.metafields.bg-content-video-cta.title}}</h2>
      {% if product.metafields.accentuate.video_script_wistia != blank %}
      <a class="video-popup play-button open-popup" href="#video-popup" title="Play">
        {{product.metafields.bg-content-video-cta.button_text}}</a>
      {%endif%}
    </div>
  </div>

  <div id="video-popup" class="mfp-hide">
    <div class="full-video-popup">
      <a class="close mfp-popup-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
          <path id="Fill_1" data-name="Fill 1"
            d="M0,23.939,1.061,25,12.474,13.535,23.939,25,25,23.939,13.535,12.474,25,1.061,23.939,0,12.474,11.413,1.061,0,0,1.061,11.413,12.474Z"
            fill="currentColor" fill-rule="evenodd"></path>
        </svg>
      </a>
      {{product.metafields.accentuate.video_script_wistia}}
    </div>
  </div>
{% endif %}

{% if product.metafields.pdp-compare-section.pdp_compare_title != blank %}
  <div class="pdp-compare-section">
    <div class="container-1120">
      <h2 class="text-center">{{product.metafields.pdp-compare-section.pdp_compare_title}}</h2>
      <ul class="flex compare-title">
        {% for value in product.metafields.pdp-compare.name %}
        <li>
          <h4>{{product.metafields.pdp-compare.name[forloop.index0]}}</h4>
          <p>{{product.metafields.pdp-compare.title[forloop.index0]}}</p>
        </li>
        {% endfor %}
      </ul>
      <ul class="flex compare-body">
        {% for value in product.metafields.pdp-compare.name %}
        <li>
          <div class="inner-box">
            <div class="image-section">
              {% if product.metafields.pdp-compare.image != blank %}
              {% assign productimg = product.metafields.pdp-compare.image[forloop.index0] | first %}
              <img src="{{ productimg.cloudinary_src}}" alt="{{ productimg.alt }}" />
              {% endif %}
            </div>
            <h4>{{product.metafields.pdp-compare.title[forloop.index0]}}</h4>
            <p>{{product.metafields.pdp-compare.description[forloop.index0]}}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
<!-- Half Image Half Content -->
{% if product.metafields.halfimg-halfcontent.title != blank %}
  <div class="half-image-half-content blue-bg">
    <div class="container-1320 flex">
      <div class="image-section">
        {% if product.metafields.halfimg-halfcontent.image != blank %}
        {% assign sectionimage = product.metafields.halfimg-halfcontent.image | first %}
        <img src="{{ sectionimage.cloudinary_src}}" alt="{{ sectionimage.alt }}" />
        {% endif %}
      </div>
      <div class="content">
        <h2>{{product.metafields.halfimg-halfcontent.title}} </h2>
        <p class="medium"> {{product.metafields.halfimg-halfcontent.description}} </p>
        <a href="{{product.metafields.halfimg-halfcontent.button_url}}"
          title="{{product.metafields.halfimg-halfcontent.button_text}}" class="btn-red">
          {{product.metafields.halfimg-halfcontent.button_text}} </a>
      </div>
    </div>
  </div>
{% endif %}

<script>
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": "{{ shop.url }}{{ product.url }}",
    {% if product.featured_media %} 
    {% assign media_size = product.featured_media.preview_image.width | append: 'x' - %}
    "image": [{{ product.featured_media | img_url: media_size | prepend: "https:" | json }}],
    {% endif %}
    "description": {{ product.description | strip_html | json }},
    {% if current_variant.sku != blank %}
    "sku": {{  current_variant.sku | json }},
    {% endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {% for variant in product.variants  %} 
        {
          "@type": "Offer",
          {% if variant.sku != blank %}
            "sku": {{ variant.sku | json }},
          {% endif %}
          "availability": "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price": {{
              variant.price | divided_by: 100.00 | json
            }},
          "priceCurrency": {{  cart.currency.iso_code | json }},
          "url": {{ shop.url | append: variant.url | json }}
        } {% unless forloop.last %}, {% endunless %} 
      {% endfor %}
    ]
  }
</script>

<div class="pdp-stamped-main-widget">
  <div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard"
    data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: " large"
    |replace: '?' , '%3F' | replace: '&' ,'%26'}}" data-description="{{ product.description | escape }}"
    data-product-sku="{{product.handle}}" data-product-type="{{product.type}}" data-widget-language="{{shop.locale}}">{{
    product.metafields.stamped.reviews }}
  </div>
</div>