<div class="container-1160  search-section">
  {% paginate search.results by 50 %}
  <div class="search-header">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
      <div class="input-group__field input-group__field--connected search-form__input-wrapper width-100">
        <input type="search" name="q" value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.placeholder' | t }}" role="combobox" aria-autocomplete="list"
          aria-owns="predictive-search-results" aria-expanded="false"
          aria-label="{{ 'general.search.placeholder' | t }}" aria-haspopup="listbox" class="search-form__input"
          data-search-page-predictive-search-input />
        <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
        <div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
      </div>
      <button type="submit" class="btn-red" aria-label="{{ 'general.search.submit' | t }}"
        data-search-page-predictive-search-submit>
        Search
      </button>
    </form>
    <div class="search-detail-filter-section">
      {% if search.performed == false %}
      <h1 class="h2">{{ 'general.search.title' | t }}</h1>
      {% else %}
      <h1 class="h2 capitalize">
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
       </h1>
      <h5>{{ search.results_count}} Results</h5>
      {% endif %}
      <!-- Sorting-->
      {% if section.settings.sort_enable %}
      {% include 'collection-sorting' %}
      {% endif %}
    </div>
    {% if search.performed and search.results_count == 0 %}
    <div class="rte search--no-results-found">
      <p>{{ 'general.search.no_results' | t }}</p>
    </div>
    {% endif %}
    {% if search.performed %}
    {% if search.results_count > 0 %}
    {% endif %}
    <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
    <ul class="page-width list-view-items">
      {% for item in search.results %}
      <li class="list-view-item">
        {% if item.object_type == 'product' %}
        {% include 'product-card-list', product: item %}
        {% else %}
        <div class="product-card product-card--list">
          <a href="{{ item.url }}" title="{{ item.title }}" class="full-width-link">
            <span class="visually-hidden">{{ item.title }}</span>
          </a>
          <div class="list-view-item__link">
            <div class="list-view-item__image-column">
              <div class="list-view-item__image-wrapper product-card__image-wrapper blog-image">
                {% unless item.image == null %}
                <a href="{{ item.url }}" title="{{ item.image.alt | escape }}"> <img class="list-view-item__image"
                    src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}"></a>
                {% endunless %}
              </div>
            </div>
            <div class="list-view-item__title-column">
              <div class="list-view-item__title" aria-hidden="true">
                <a href="{{ item.url }}" title="{{ item.title }}"> <span class="product-card__title">{{ item.title }}</span></a>
              </div>
              <!--   <div>
                    {% if item.published_at %}{{ item.published_at | date: format: "date" }} &#8212; {% endif %}
                    {{ item.content | strip_html | truncate: 200 }}
                  </div>-->
            </div>
          </div>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <div class="hidden">
      {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    </div>
    {% endif %}
    {% if search.results_count < 2  %}
    <div class="search--less-than-2-results"></div>
    {% endif %}
    {% endpaginate %}
  </div>
  