
{% if settings.share_image and settings.share_image != "" %}
  {%- capture tw_social_image -%}
    <meta name="twitter:image" content="http:{{ settings.share_image | img_url: 'master' }}">
  {%- endcapture -%}
{% endif %}

{%- if request.page_type == 'product' -%}
  {% if product.media.size > 0 %}
    {%- capture tw_social_image -%}
    {% for media in product.media limit:1 -%}
      <meta name="twitter:image" content="http:{{ media | img_url: 'master' }}">
    {% endfor -%}
    {%- endcapture -%}
  {% endif %}
{%- elsif request.page_type == 'article' -%}
  {%- if article.image -%}
    {%- capture tw_social_image -%}
      <meta name="twitter:image" content="http:{{ article.image | img_url: 'master' }}">
    {%- endcapture -%}
  {%- endif -%}
{%- elsif request.page_type == 'collection' -%}
  {%- if collection.image -%}
    {%- capture tw_social_image -%}
      <meta name="twitter:image" content="http:{{ collection.image | img_url: 'master' }}">
    {%- endcapture -%}
  {%- endif -%}
{%- endif -%}

{%- unless tw_social_image -%}
  {% if avada_seo_social_image and avada_seo_social_image != "" %}
    {%- capture tw_social_image -%}
      <meta name="twitter:image" content="{{ avada_seo_social_image }}">
    {%- endcapture -%}
  {% endif %}
{%- endunless -%}

{{ tw_social_image }}
<script>
  const avadaLightJsExclude = ['cdn.nfcube.com', 'assets/ecom.js', 'variant-title-king', 'linked_options_variants', 'smile-loader.js', 'smart-product-filter-search', 'rivo-loyalty-referrals', 'avada-cookie-consent', 'consentmo-gdpr', 'quinn'];
  const avadaLightJsInclude = ['https://www.googletagmanager.com/', 'https://connect.facebook.net/', 'https://business-api.tiktok.com/', 'https://static.klaviyo.com/'];
  window.AVADA_SPEED_BLACKLIST = avadaLightJsInclude.map(item => new RegExp(item, 'i'));
  window.AVADA_SPEED_WHITELIST = avadaLightJsExclude.map(item => new RegExp(item, 'i'));
</script>

<script>
  const isSpeedUpEnable = !1741336270747 || Date.now() < 1741336270747;
  if (isSpeedUpEnable) {
    const avadaSpeedUp=0.5;
    if(isSpeedUpEnable) {
  function _0x55aa(_0x575858,_0x2fd0be){const _0x30a92f=_0x1cb5();return _0x55aa=function(_0x4e8b41,_0xcd1690){_0x4e8b41=_0x4e8b41-(0xb5e+0xd*0x147+-0x1b1a);let _0x1c09f7=_0x30a92f[_0x4e8b41];return _0x1c09f7;},_0x55aa(_0x575858,_0x2fd0be);}(function(_0x4ad4dc,_0x42545f){const _0x5c7741=_0x55aa,_0x323f4d=_0x4ad4dc();while(!![]){try{const _0x588ea5=parseInt(_0x5c7741(0x10c))/(0xb6f+-0x1853+0xce5)*(-parseInt(_0x5c7741(0x157))/(-0x2363*0x1+0x1dd4+0x591*0x1))+-parseInt(_0x5c7741(0x171))/(0x269b+-0xeb+-0xf*0x283)*(parseInt(_0x5c7741(0x116))/(0x2e1+0x1*0x17b3+-0x110*0x19))+-parseInt(_0x5c7741(0x147))/(-0x1489+-0x312*0x6+0x26fa*0x1)+-parseInt(_0x5c7741(0xfa))/(-0x744+0x1*0xb5d+-0x413)*(-parseInt(_0x5c7741(0x102))/(-0x1e87+0x9e*-0x16+0x2c22))+parseInt(_0x5c7741(0x136))/(0x1e2d+0x1498+-0x1a3*0x1f)+parseInt(_0x5c7741(0x16e))/(0x460+0x1d96+0x3*-0xb4f)*(-parseInt(_0x5c7741(0xe3))/(-0x9ca+-0x1*-0x93f+0x1*0x95))+parseInt(_0x5c7741(0xf8))/(-0x1f73*0x1+0x6*-0x510+0x3dde);if(_0x588ea5===_0x42545f)break;else _0x323f4d['push'](_0x323f4d['shift']());}catch(_0x5d6d7e){_0x323f4d['push'](_0x323f4d['shift']());}}}(_0x1cb5,-0x193549+0x5dc3*-0x31+-0x2f963*-0x13),(function(){const _0x5cb2b4=_0x55aa,_0x23f9e9={'yXGBq':function(_0x237aef,_0x385938){return _0x237aef!==_0x385938;},'XduVF':function(_0x21018d,_0x56ff60){return _0x21018d===_0x56ff60;},'RChnz':_0x5cb2b4(0xf4)+_0x5cb2b4(0xe9)+_0x5cb2b4(0x14a),'TAsuR':function(_0xe21eca,_0x33e114){return _0xe21eca%_0x33e114;},'EvLYw':function(_0x1326ad,_0x261d04){return _0x1326ad!==_0x261d04;},'nnhAQ':_0x5cb2b4(0x107),'swpMF':_0x5cb2b4(0x16d),'plMMu':_0x5cb2b4(0xe8)+_0x5cb2b4(0x135),'PqBPA':function(_0x2ba85c,_0x35b541){return _0x2ba85c<_0x35b541;},'NKPCA':_0x5cb2b4(0xfc),'TINqh':function(_0x4116e3,_0x3ffd02,_0x2c8722){return _0x4116e3(_0x3ffd02,_0x2c8722);},'BAueN':_0x5cb2b4(0x120),'NgloT':_0x5cb2b4(0x14c),'ThSSU':function(_0xeb212a,_0x4341c1){return _0xeb212a+_0x4341c1;},'lDDHN':function(_0x4a1a48,_0x45ebfb){return _0x4a1a48 instanceof _0x45ebfb;},'toAYB':function(_0xcf0fa9,_0xf5fa6a){return _0xcf0fa9 instanceof _0xf5fa6a;},'VMiyW':function(_0x5300e4,_0x44e0f4){return _0x5300e4(_0x44e0f4);},'iyhbw':_0x5cb2b4(0x119),'zuWfR':function(_0x19c3e4,_0x4ee6e8){return _0x19c3e4<_0x4ee6e8;},'vEmrv':function(_0xd798cf,_0x5ea2dd){return _0xd798cf!==_0x5ea2dd;},'yxERj':function(_0x24b03b,_0x5aa292){return _0x24b03b||_0x5aa292;},'MZpwM':_0x5cb2b4(0x110)+_0x5cb2b4(0x109)+'pt','IeUHK':function(_0x5a4c7e,_0x2edf70){return _0x5a4c7e-_0x2edf70;},'Idvge':function(_0x3b526e,_0x36b469){return _0x3b526e<_0x36b469;},'qRwfm':_0x5cb2b4(0x16b)+_0x5cb2b4(0xf1),'CvXDN':function(_0x4b4208,_0x1db216){return _0x4b4208<_0x1db216;},'acPIM':function(_0x7d44b7,_0x3020d2){return _0x7d44b7(_0x3020d2);},'MyLMO':function(_0x22d4b2,_0xe7a6a0){return _0x22d4b2<_0xe7a6a0;},'boDyh':function(_0x176992,_0x346381,_0xab7fc){return _0x176992(_0x346381,_0xab7fc);},'ZANXD':_0x5cb2b4(0x10f)+_0x5cb2b4(0x12a)+_0x5cb2b4(0x142),'CXwRZ':_0x5cb2b4(0x123)+_0x5cb2b4(0x15f),'AuMHM':_0x5cb2b4(0x161),'KUuFZ':_0x5cb2b4(0xe6),'MSwtw':_0x5cb2b4(0x13a),'ERvPB':_0x5cb2b4(0x134),'ycTDj':_0x5cb2b4(0x15b),'Tvhir':_0x5cb2b4(0x154)},_0x469be1=_0x23f9e9[_0x5cb2b4(0x153)],_0x36fe07={'blacklist':window[_0x5cb2b4(0x11f)+_0x5cb2b4(0x115)+'T'],'whitelist':window[_0x5cb2b4(0x11f)+_0x5cb2b4(0x13e)+'T']},_0x26516a={'blacklisted':[]},_0x34e4a6=(_0x2be2f5,_0x25b3b2)=>{const _0x80dd2=_0x5cb2b4;if(_0x2be2f5&&(!_0x25b3b2||_0x23f9e9[_0x80dd2(0x13b)](_0x25b3b2,_0x469be1))&&(!_0x36fe07[_0x80dd2(0x170)]||_0x36fe07[_0x80dd2(0x170)][_0x80dd2(0x151)](_0xa5c7cf=>_0xa5c7cf[_0x80dd2(0x12b)](_0x2be2f5)))&&(!_0x36fe07[_0x80dd2(0x165)]||_0x36fe07[_0x80dd2(0x165)][_0x80dd2(0x156)](_0x4e2570=>!_0x4e2570[_0x80dd2(0x12b)](_0x2be2f5)))&&_0x23f9e9[_0x80dd2(0xf7)](avadaSpeedUp,0x5*0x256+-0x1*0x66c+-0x542+0.5)&&_0x2be2f5[_0x80dd2(0x137)](_0x23f9e9[_0x80dd2(0xe7)])){const _0x413c89=_0x2be2f5[_0x80dd2(0x16c)];return _0x23f9e9[_0x80dd2(0xf7)](_0x23f9e9[_0x80dd2(0x11e)](_0x413c89,-0x1deb*-0x1+0xf13+-0x2cfc),0x1176+-0x78b*0x5+0x1441);}return _0x2be2f5&&(!_0x25b3b2||_0x23f9e9[_0x80dd2(0xed)](_0x25b3b2,_0x469be1))&&(!_0x36fe07[_0x80dd2(0x170)]||_0x36fe07[_0x80dd2(0x170)][_0x80dd2(0x151)](_0x3d689d=>_0x3d689d[_0x80dd2(0x12b)](_0x2be2f5)))&&(!_0x36fe07[_0x80dd2(0x165)]||_0x36fe07[_0x80dd2(0x165)][_0x80dd2(0x156)](_0x26a7b3=>!_0x26a7b3[_0x80dd2(0x12b)](_0x2be2f5)));},_0x11462f=function(_0x42927f){const _0x346823=_0x5cb2b4,_0x5426ae=_0x42927f[_0x346823(0x159)+'te'](_0x23f9e9[_0x346823(0x14e)]);return _0x36fe07[_0x346823(0x170)]&&_0x36fe07[_0x346823(0x170)][_0x346823(0x156)](_0x107b0d=>!_0x107b0d[_0x346823(0x12b)](_0x5426ae))||_0x36fe07[_0x346823(0x165)]&&_0x36fe07[_0x346823(0x165)][_0x346823(0x151)](_0x1e7160=>_0x1e7160[_0x346823(0x12b)](_0x5426ae));},_0x39299f=new MutationObserver(_0x45c995=>{const _0x21802a=_0x5cb2b4,_0x3bc801={'mafxh':function(_0x6f9c57,_0x229989){const _0x9d39b1=_0x55aa;return _0x23f9e9[_0x9d39b1(0xf7)](_0x6f9c57,_0x229989);},'SrchE':_0x23f9e9[_0x21802a(0xe2)],'pvjbV':_0x23f9e9[_0x21802a(0xf6)]};for(let _0x333494=-0x7d7+-0x893+0x106a;_0x23f9e9[_0x21802a(0x158)](_0x333494,_0x45c995[_0x21802a(0x16c)]);_0x333494++){const {addedNodes:_0x1b685b}=_0x45c995[_0x333494];for(let _0x2f087=0x1f03+0x84b+0x1*-0x274e;_0x23f9e9[_0x21802a(0x158)](_0x2f087,_0x1b685b[_0x21802a(0x16c)]);_0x2f087++){const _0x4e5bac=_0x1b685b[_0x2f087];if(_0x23f9e9[_0x21802a(0xf7)](_0x4e5bac[_0x21802a(0x121)],-0x1f3a+-0x1*0x1b93+-0x3*-0x139a)&&_0x23f9e9[_0x21802a(0xf7)](_0x4e5bac[_0x21802a(0x152)],_0x23f9e9[_0x21802a(0xe0)])){const _0x5d9a67=_0x4e5bac[_0x21802a(0x107)],_0x3fb522=_0x4e5bac[_0x21802a(0x16d)];if(_0x23f9e9[_0x21802a(0x103)](_0x34e4a6,_0x5d9a67,_0x3fb522)){_0x26516a[_0x21802a(0x160)+'d'][_0x21802a(0x128)]([_0x4e5bac,_0x4e5bac[_0x21802a(0x16d)]]),_0x4e5bac[_0x21802a(0x16d)]=_0x469be1;const _0x1e52da=function(_0x2c95ff){const _0x359b13=_0x21802a;if(_0x3bc801[_0x359b13(0x118)](_0x4e5bac[_0x359b13(0x159)+'te'](_0x3bc801[_0x359b13(0x166)]),_0x469be1))_0x2c95ff[_0x359b13(0x112)+_0x359b13(0x150)]();_0x4e5bac[_0x359b13(0xec)+_0x359b13(0x130)](_0x3bc801[_0x359b13(0xe4)],_0x1e52da);};_0x4e5bac[_0x21802a(0x12d)+_0x21802a(0x163)](_0x23f9e9[_0x21802a(0xf6)],_0x1e52da),_0x4e5bac[_0x21802a(0x12c)+_0x21802a(0x131)]&&_0x4e5bac[_0x21802a(0x12c)+_0x21802a(0x131)][_0x21802a(0x11a)+'d'](_0x4e5bac);}}}}});_0x39299f[_0x5cb2b4(0x105)](document[_0x5cb2b4(0x10b)+_0x5cb2b4(0x16a)],{'childList':!![],'subtree':!![]});const _0x2910a9=/[|\\{}()\[\]^$+*?.]/g,_0xa9f173=function(..._0x1baa33){const _0x3053cc=_0x5cb2b4,_0x2e6f61={'mMWha':function(_0x158c76,_0x5c404b){const _0x25a05c=_0x55aa;return _0x23f9e9[_0x25a05c(0xf7)](_0x158c76,_0x5c404b);},'BXirI':_0x23f9e9[_0x3053cc(0x141)],'COGok':function(_0x421bf7,_0x55453a){const _0x4fd417=_0x3053cc;return _0x23f9e9[_0x4fd417(0x167)](_0x421bf7,_0x55453a);},'XLSAp':function(_0x193984,_0x35c446){const _0x5bbecf=_0x3053cc;return _0x23f9e9[_0x5bbecf(0xed)](_0x193984,_0x35c446);},'EygRw':function(_0xfbb69c,_0x21b15d){const _0xe5c840=_0x3053cc;return _0x23f9e9[_0xe5c840(0x104)](_0xfbb69c,_0x21b15d);},'xZuNx':_0x23f9e9[_0x3053cc(0x139)],'SBUaW':function(_0x5739bf,_0x2c2fab){const _0x42cbb1=_0x3053cc;return _0x23f9e9[_0x42cbb1(0x172)](_0x5739bf,_0x2c2fab);},'EAoTR':function(_0x123b29,_0x5b29bf){const _0x2828d2=_0x3053cc;return _0x23f9e9[_0x2828d2(0x11d)](_0x123b29,_0x5b29bf);},'cdYdq':_0x23f9e9[_0x3053cc(0x14e)],'WzJcf':_0x23f9e9[_0x3053cc(0xe2)],'nytPK':function(_0x53f733,_0x4ad021){const _0x4f0333=_0x3053cc;return _0x23f9e9[_0x4f0333(0x148)](_0x53f733,_0x4ad021);},'oUrHG':_0x23f9e9[_0x3053cc(0x14d)],'dnxjX':function(_0xed6b5f,_0x573f55){const _0x57aa03=_0x3053cc;return _0x23f9e9[_0x57aa03(0x15a)](_0xed6b5f,_0x573f55);}};_0x23f9e9[_0x3053cc(0x15d)](_0x1baa33[_0x3053cc(0x16c)],-0x1a3*-0x9+-0xf9*0xb+-0x407*0x1)?(_0x36fe07[_0x3053cc(0x170)]=[],_0x36fe07[_0x3053cc(0x165)]=[]):(_0x36fe07[_0x3053cc(0x170)]&&(_0x36fe07[_0x3053cc(0x170)]=_0x36fe07[_0x3053cc(0x170)][_0x3053cc(0x106)](_0xa8e001=>_0x1baa33[_0x3053cc(0x156)](_0x4a8a28=>{const _0x2e425b=_0x3053cc;if(_0x2e6f61[_0x2e425b(0x111)](typeof _0x4a8a28,_0x2e6f61[_0x2e425b(0x155)]))return!_0xa8e001[_0x2e425b(0x12b)](_0x4a8a28);else{if(_0x2e6f61[_0x2e425b(0xeb)](_0x4a8a28,RegExp))return _0x2e6f61[_0x2e425b(0x145)](_0xa8e001[_0x2e425b(0xdf)](),_0x4a8a28[_0x2e425b(0xdf)]());}}))),_0x36fe07[_0x3053cc(0x165)]&&(_0x36fe07[_0x3053cc(0x165)]=[..._0x36fe07[_0x3053cc(0x165)],..._0x1baa33[_0x3053cc(0xff)](_0x4e4c02=>{const _0x7c755c=_0x3053cc;if(_0x23f9e9[_0x7c755c(0xf7)](typeof _0x4e4c02,_0x23f9e9[_0x7c755c(0x141)])){const _0x932437=_0x4e4c02[_0x7c755c(0xea)](_0x2910a9,_0x23f9e9[_0x7c755c(0x16f)]),_0x34e686=_0x23f9e9[_0x7c755c(0xf0)](_0x23f9e9[_0x7c755c(0xf0)]('.*',_0x932437),'.*');if(_0x36fe07[_0x7c755c(0x165)][_0x7c755c(0x156)](_0x21ef9a=>_0x21ef9a[_0x7c755c(0xdf)]()!==_0x34e686[_0x7c755c(0xdf)]()))return new RegExp(_0x34e686);}else{if(_0x23f9e9[_0x7c755c(0x117)](_0x4e4c02,RegExp)){if(_0x36fe07[_0x7c755c(0x165)][_0x7c755c(0x156)](_0x5a3f09=>_0x5a3f09[_0x7c755c(0xdf)]()!==_0x4e4c02[_0x7c755c(0xdf)]()))return _0x4e4c02;}}return null;})[_0x3053cc(0x106)](Boolean)]));const _0x3eeb55=document[_0x3053cc(0x11b)+_0x3053cc(0x10e)](_0x23f9e9[_0x3053cc(0xf0)](_0x23f9e9[_0x3053cc(0xf0)](_0x23f9e9[_0x3053cc(0x122)],_0x469be1),'"]'));for(let _0xf831f7=-0x21aa+-0x1793+0x393d*0x1;_0x23f9e9[_0x3053cc(0x14b)](_0xf831f7,_0x3eeb55[_0x3053cc(0x16c)]);_0xf831f7++){const _0x5868cb=_0x3eeb55[_0xf831f7];_0x23f9e9[_0x3053cc(0x132)](_0x11462f,_0x5868cb)&&(_0x26516a[_0x3053cc(0x160)+'d'][_0x3053cc(0x128)]([_0x5868cb,_0x23f9e9[_0x3053cc(0x14d)]]),_0x5868cb[_0x3053cc(0x12c)+_0x3053cc(0x131)][_0x3053cc(0x11a)+'d'](_0x5868cb));}let _0xdf8cd0=-0x17da+0x2461+-0xc87*0x1;[..._0x26516a[_0x3053cc(0x160)+'d']][_0x3053cc(0x10d)](([_0x226aeb,_0x33eaa7],_0xe33bca)=>{const _0x2aa7bf=_0x3053cc;if(_0x2e6f61[_0x2aa7bf(0x143)](_0x11462f,_0x226aeb)){const _0x41da0d=document[_0x2aa7bf(0x11c)+_0x2aa7bf(0x131)](_0x2e6f61[_0x2aa7bf(0x127)]);for(let _0x6784c7=0xd7b+-0xaa5+-0x2d6;_0x2e6f61[_0x2aa7bf(0x164)](_0x6784c7,_0x226aeb[_0x2aa7bf(0xe5)][_0x2aa7bf(0x16c)]);_0x6784c7++){const _0x4ca758=_0x226aeb[_0x2aa7bf(0xe5)][_0x6784c7];_0x2e6f61[_0x2aa7bf(0x12f)](_0x4ca758[_0x2aa7bf(0x133)],_0x2e6f61[_0x2aa7bf(0x13f)])&&_0x2e6f61[_0x2aa7bf(0x145)](_0x4ca758[_0x2aa7bf(0x133)],_0x2e6f61[_0x2aa7bf(0x100)])&&_0x41da0d[_0x2aa7bf(0xe1)+'te'](_0x4ca758[_0x2aa7bf(0x133)],_0x226aeb[_0x2aa7bf(0xe5)][_0x6784c7][_0x2aa7bf(0x12e)]);}_0x41da0d[_0x2aa7bf(0xe1)+'te'](_0x2e6f61[_0x2aa7bf(0x13f)],_0x226aeb[_0x2aa7bf(0x107)]),_0x41da0d[_0x2aa7bf(0xe1)+'te'](_0x2e6f61[_0x2aa7bf(0x100)],_0x2e6f61[_0x2aa7bf(0x101)](_0x33eaa7,_0x2e6f61[_0x2aa7bf(0x126)])),document[_0x2aa7bf(0x113)][_0x2aa7bf(0x146)+'d'](_0x41da0d),_0x26516a[_0x2aa7bf(0x160)+'d'][_0x2aa7bf(0x162)](_0x2e6f61[_0x2aa7bf(0x13d)](_0xe33bca,_0xdf8cd0),-0x105d*0x2+0x1*-0xeaa+0x2f65),_0xdf8cd0++;}}),_0x36fe07[_0x3053cc(0x170)]&&_0x23f9e9[_0x3053cc(0xf3)](_0x36fe07[_0x3053cc(0x170)][_0x3053cc(0x16c)],0x10f2+-0x1a42+0x951)&&_0x39299f[_0x3053cc(0x15c)]();},_0x4c2397=document[_0x5cb2b4(0x11c)+_0x5cb2b4(0x131)],_0x573f89={'src':Object[_0x5cb2b4(0x14f)+_0x5cb2b4(0xfd)+_0x5cb2b4(0x144)](HTMLScriptElement[_0x5cb2b4(0xf9)],_0x23f9e9[_0x5cb2b4(0x14e)]),'type':Object[_0x5cb2b4(0x14f)+_0x5cb2b4(0xfd)+_0x5cb2b4(0x144)](HTMLScriptElement[_0x5cb2b4(0xf9)],_0x23f9e9[_0x5cb2b4(0xe2)])};document[_0x5cb2b4(0x11c)+_0x5cb2b4(0x131)]=function(..._0x4db605){const _0x1480b5=_0x5cb2b4,_0x3a6982={'KNNxG':function(_0x32fa39,_0x2a57e4,_0x3cc08f){const _0x5ead12=_0x55aa;return _0x23f9e9[_0x5ead12(0x169)](_0x32fa39,_0x2a57e4,_0x3cc08f);}};if(_0x23f9e9[_0x1480b5(0x13b)](_0x4db605[-0x4*-0x376+0x4*0x2f+-0xe94][_0x1480b5(0x140)+'e'](),_0x23f9e9[_0x1480b5(0x139)]))return _0x4c2397[_0x1480b5(0x114)](document)(..._0x4db605);const _0x2f091d=_0x4c2397[_0x1480b5(0x114)](document)(..._0x4db605);try{Object[_0x1480b5(0xf2)+_0x1480b5(0x149)](_0x2f091d,{'src':{..._0x573f89[_0x1480b5(0x107)],'set'(_0x3ae2bc){const _0x5d6fdc=_0x1480b5;_0x3a6982[_0x5d6fdc(0x129)](_0x34e4a6,_0x3ae2bc,_0x2f091d[_0x5d6fdc(0x16d)])&&_0x573f89[_0x5d6fdc(0x16d)][_0x5d6fdc(0x10a)][_0x5d6fdc(0x125)](this,_0x469be1),_0x573f89[_0x5d6fdc(0x107)][_0x5d6fdc(0x10a)][_0x5d6fdc(0x125)](this,_0x3ae2bc);}},'type':{..._0x573f89[_0x1480b5(0x16d)],'get'(){const _0x436e9e=_0x1480b5,_0x4b63b9=_0x573f89[_0x436e9e(0x16d)][_0x436e9e(0xfb)][_0x436e9e(0x125)](this);if(_0x23f9e9[_0x436e9e(0xf7)](_0x4b63b9,_0x469be1)||_0x23f9e9[_0x436e9e(0x103)](_0x34e4a6,this[_0x436e9e(0x107)],_0x4b63b9))return null;return _0x4b63b9;},'set'(_0x174ea3){const _0x1dff57=_0x1480b5,_0xa2fd13=_0x23f9e9[_0x1dff57(0x103)](_0x34e4a6,_0x2f091d[_0x1dff57(0x107)],_0x2f091d[_0x1dff57(0x16d)])?_0x469be1:_0x174ea3;_0x573f89[_0x1dff57(0x16d)][_0x1dff57(0x10a)][_0x1dff57(0x125)](this,_0xa2fd13);}}}),_0x2f091d[_0x1480b5(0xe1)+'te']=function(_0x5b0870,_0x8c60d5){const _0xab22d4=_0x1480b5;if(_0x23f9e9[_0xab22d4(0xf7)](_0x5b0870,_0x23f9e9[_0xab22d4(0xe2)])||_0x23f9e9[_0xab22d4(0xf7)](_0x5b0870,_0x23f9e9[_0xab22d4(0x14e)]))_0x2f091d[_0x5b0870]=_0x8c60d5;else HTMLScriptElement[_0xab22d4(0xf9)][_0xab22d4(0xe1)+'te'][_0xab22d4(0x125)](_0x2f091d,_0x5b0870,_0x8c60d5);};}catch(_0x5a9461){console[_0x1480b5(0x168)](_0x23f9e9[_0x1480b5(0xef)],_0x5a9461);}return _0x2f091d;};const _0x5883c5=[_0x23f9e9[_0x5cb2b4(0xfe)],_0x23f9e9[_0x5cb2b4(0x13c)],_0x23f9e9[_0x5cb2b4(0xf5)],_0x23f9e9[_0x5cb2b4(0x15e)],_0x23f9e9[_0x5cb2b4(0x138)],_0x23f9e9[_0x5cb2b4(0x124)]],_0x4ab8d2=_0x5883c5[_0x5cb2b4(0xff)](_0x439d08=>{return{'type':_0x439d08,'listener':()=>_0xa9f173(),'options':{'passive':!![]}};});_0x4ab8d2[_0x5cb2b4(0x10d)](_0x4d3535=>{const _0x3882ab=_0x5cb2b4;document[_0x3882ab(0x12d)+_0x3882ab(0x163)](_0x4d3535[_0x3882ab(0x16d)],_0x4d3535[_0x3882ab(0xee)],_0x4d3535[_0x3882ab(0x108)]);});}()));function _0x1cb5(){const _0x15f8e0=['ault','some','tagName','CXwRZ','wheel','BXirI','every','6lYvYYX','PqBPA','getAttribu','IeUHK','touchstart','disconnect','Idvge','ERvPB','/blocked','blackliste','keydown','splice','stener','SBUaW','whitelist','SrchE','toAYB','warn','boDyh','ement','script[typ','length','type','346347wGqEBH','NgloT','blacklist','33OVoYHk','zuWfR','toString','NKPCA','setAttribu','swpMF','230EEqEiq','pvjbV','attributes','mousemove','RChnz','beforescri','y.com/exte','replace','COGok','removeEven','EvLYw','listener','ZANXD','ThSSU','e="','defineProp','MyLMO','cdn.shopif','MSwtw','plMMu','XduVF','22621984JRJQxz','prototype','8818116NVbcZr','get','SCRIPT','ertyDescri','AuMHM','map','WzJcf','nytPK','7kiZatp','TINqh','VMiyW','observe','filter','src','options','n/javascri','set','documentEl','478083wuqgQV','forEach','torAll','Avada cann','applicatio','mMWha','preventDef','head','bind','D_BLACKLIS','75496skzGVx','lDDHN','mafxh','script','removeChil','querySelec','createElem','vEmrv','TAsuR','AVADA_SPEE','string','nodeType','qRwfm','javascript','Tvhir','call','oUrHG','xZuNx','push','KNNxG','ot lazy lo','test','parentElem','addEventLi','value','EAoTR','tListener','ent','acPIM','name','touchmove','ptexecute','6968312SmqlIb','includes','ycTDj','iyhbw','touchend','yXGBq','KUuFZ','dnxjX','D_WHITELIS','cdYdq','toLowerCas','BAueN','ad script','EygRw','ptor','XLSAp','appendChil','4975500NoPAFA','yxERj','erties','nsions','CvXDN','\$&','MZpwM','nnhAQ','getOwnProp'];_0x1cb5=function(){return _0x15f8e0;};return _0x1cb5();}
}
    class LightJsLoader{constructor(e){this.jQs=[],this.listener=this.handleListener.bind(this,e),this.scripts=["default","defer","async"].reduce(((e,t)=>({...e,[t]:[]})),{});const t=this;e.forEach((e=>window.addEventListener(e,t.listener,{passive:!0})))}handleListener(e){const t=this;return e.forEach((e=>window.removeEventListener(e,t.listener))),"complete"===document.readyState?this.handleDOM():document.addEventListener("readystatechange",(e=>{if("complete"===e.target.readyState)return setTimeout(t.handleDOM.bind(t),1)}))}async handleDOM(){this.suspendEvent(),this.suspendJQuery(),this.findScripts(),this.preloadScripts();for(const e of Object.keys(this.scripts))await this.replaceScripts(this.scripts[e]);for(const e of["DOMContentLoaded","readystatechange"])await this.requestRepaint(),document.dispatchEvent(new Event("lightJS-"+e));document.lightJSonreadystatechange&&document.lightJSonreadystatechange();for(const e of["DOMContentLoaded","load"])await this.requestRepaint(),window.dispatchEvent(new Event("lightJS-"+e));await this.requestRepaint(),window.lightJSonload&&window.lightJSonload(),await this.requestRepaint(),this.jQs.forEach((e=>e(window).trigger("lightJS-jquery-load"))),window.dispatchEvent(new Event("lightJS-pageshow")),await this.requestRepaint(),window.lightJSonpageshow&&window.lightJSonpageshow()}async requestRepaint(){return new Promise((e=>requestAnimationFrame(e)))}findScripts(){document.querySelectorAll("script[type=lightJs]").forEach((e=>{e.hasAttribute("src")?e.hasAttribute("async")&&e.async?this.scripts.async.push(e):e.hasAttribute("defer")&&e.defer?this.scripts.defer.push(e):this.scripts.default.push(e):this.scripts.default.push(e)}))}preloadScripts(){const e=this,t=Object.keys(this.scripts).reduce(((t,n)=>[...t,...e.scripts[n]]),[]),n=document.createDocumentFragment();t.forEach((e=>{const t=e.getAttribute("src");if(!t)return;const s=document.createElement("link");s.href=t,s.rel="preload",s.as="script",n.appendChild(s)})),document.head.appendChild(n)}async replaceScripts(e){let t;for(;t=e.shift();)await this.requestRepaint(),new Promise((e=>{const n=document.createElement("script");[...t.attributes].forEach((e=>{"type"!==e.nodeName&&n.setAttribute(e.nodeName,e.nodeValue)})),t.hasAttribute("src")?(n.addEventListener("load",e),n.addEventListener("error",e)):(n.text=t.text,e()),t.parentNode.replaceChild(n,t)}))}suspendEvent(){const e={};[{obj:document,name:"DOMContentLoaded"},{obj:window,name:"DOMContentLoaded"},{obj:window,name:"load"},{obj:window,name:"pageshow"},{obj:document,name:"readystatechange"}].map((t=>function(t,n){function s(n){return e[t].list.indexOf(n)>=0?"lightJS-"+n:n}e[t]||(e[t]={list:[n],add:t.addEventListener,remove:t.removeEventListener},t.addEventListener=(...n)=>{n[0]=s(n[0]),e[t].add.apply(t,n)},t.removeEventListener=(...n)=>{n[0]=s(n[0]),e[t].remove.apply(t,n)})}(t.obj,t.name))),[{obj:document,name:"onreadystatechange"},{obj:window,name:"onpageshow"}].map((e=>function(e,t){let n=e[t];Object.defineProperty(e,t,{get:()=>n||function(){},set:s=>{e["lightJS"+t]=n=s}})}(e.obj,e.name)))}suspendJQuery(){const e=this;let t=window.jQuery;Object.defineProperty(window,"jQuery",{get:()=>t,set(n){if(!n||!n.fn||!e.jQs.includes(n))return void(t=n);n.fn.ready=n.fn.init.prototype.ready=e=>{e.bind(document)(n)};const s=n.fn.on;n.fn.on=n.fn.init.prototype.on=function(...e){if(window!==this[0])return s.apply(this,e),this;const t=e=>e.split(" ").map((e=>"load"===e||0===e.indexOf("load.")?"lightJS-jquery-load":e)).join(" ");return"string"==typeof e[0]||e[0]instanceof String?(e[0]=t(e[0]),s.apply(this,e),this):("object"==typeof e[0]&&Object.keys(e[0]).forEach((n=>{delete Object.assign(e[0],{[t(n)]:e[0][n]})[n]})),s.apply(this,e),this)},e.jQs.push(n),t=n}})}}
new LightJsLoader(["keydown","mousemove","touchend","touchmove","touchstart","wheel"]);
  }
</script>

{%- assign lightJsReplace = "if ((!1741336270747 || Date.now() < 1741336270747) &&
      (!window.AVADA_SPEED_BLACKLIST || window.AVADA_SPEED_BLACKLIST.some(pattern => pattern.test(s))) &&
      (!window.AVADA_SPEED_WHITELIST || window.AVADA_SPEED_WHITELIST.every(pattern => !pattern.test(s)))) s.type = 'lightJs'; else s.type = 'text/javascript'" -%}
{%- assign lightJsContent = content_for_header | split: 'asyncLoad()' -%}
{%- if lightJsContent.size > 1 -%}
  {%- assign lightJsParts = lightJsContent[1] | split: 'asyncLoad' -%}
  {%- if lightJsParts.size > 1 -%}
    {%- assign lightJsTemp = '' -%}
    {%- for lightJsItem in lightJsParts -%}
      {%- if forloop.first == true and lightJsItem contains 'text/javascript' -%}
      {%- assign lightJsTemp = lightJsItem | replace: "s.type = 'text/javascript'", lightJsReplace | prepend: lightJsTemp -%}
      {%- else -%}
      {%- assign lightJsTemp = lightJsItem | prepend: lightJsTemp -%}
      {%- endif -%}
      {%- if forloop.last == false -%}
      {%- assign lightJsTemp = lightJsTemp | append: 'asyncLoad' -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign content_for_header = lightJsContent[0] | append: 'asyncLoad()' | append: lightJsTemp -%}
  {%- endif -%}
{%- endif -%}