<div class="cart-drawer cart-empty">
    <div class="cart-drawer-header">
        <h2 class="h4">Your cart <span class="cart-items-count"></span></h2>
        <a href="#" class="close-cart-drawer" aria-label="Close" title="Close">
            <svg width="20px" height="21px" viewBox="0 0 20 21">
                <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                    stroke-linecap="round"
                >
                    <g
                        transform="translate(-949.000000, -161.000000)"
                        stroke="#1B2061"
                        stroke-width="2"
                    >
                        <g
                            transform="translate(959.000068, 171.300003) rotate(-315.000000) 
                                            translate(-959.000068, -171.300003) translate(953.000000, 165.299935)"
                        >
                            <line x1="0" y1="6.00006823" x2="12.0001365" y2="6.00006823"></line>
                            <line x1="6.00006823" y1="0" x2="6.00006823" y2="12.0001365"></line>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <div class="free-shipping-promo"></div>
<form action="/cart?discount=+&amp;remove_discount_code=1" method="post" data-hs-cf-bound="true">

    <div class="cart-drawer-body">
        <div class="text-holder d-flex align-items-center justify-content-center">
            <p>Your cart is empty</p>
        </div>
    </div>

    <div class="cart-drawer-footer checkout">
        <div class="checkout-total flex-space-between">
            <strong class="title"></strong>
            <strong class="cost"></strong>
        </div>
        <div class="text-right you-save-line"></div>
        <div class="addition-info flex-wrap">
          <a
          class="cart view-cart-link width-50 {% if cart.item_count == 0 %}empty-cart{%endif%}"
          href="/cart"
          title="cart"
          >
            View cart
          </a>
          <p class="addition-info-text text-right width-50" >
            Taxes and shipping calculated at checkout
          </p>
        </div>
        <div class="cart-drawer-buttons-wrapper">
          <button
            class="btn-red cart-drawer-checkout-btn"
            type="submit"
            id="checkout"
            name="checkout"
          >
            Continue to checkout
        </button>
        </div>
    </div>
</form>
</div>
<div class="cart-drawer-overlay"></div>
