<div class="filters-toolbar__input-wrapper select-group">
  <label class="filters-toolbar__label select-label capitalize" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
  <select name="sort_by" id="SortBy" class="filters-toolbar__input"    data-default-sortby="{{ collection.default_sort_by }}"
  data-select-input aria-describedby="a11y-refresh-page-message">
  {% for option in collection.sort_options %}
     <option value="{{ option.value }}"{% if sort_by == option.value %} selected="selected"{% endif %}>{{ option.name }}</option>
  {% endfor %}
  </select>
</div>