{%- assign post_message = 'blogs.comments.success' -%}
{%- if blog.moderated? and comment.status == 'pending' -%}
  {%- assign post_message = 'blogs.comments.success_moderated' -%}
{%- elsif comment.status == 'unapproved' or comment.status == 'spam' -%}
  {%- assign post_message = 'blogs.comments.unapproved' -%}
{%- endif -%}

{%- assign formId = 'CommentForm' -%}

<div class="container-1220">
  <h3 id="ask_question">Ask a question or leave a comment:</h3>
  {% if article.comments_count > 0 %}
    <div class="comments-wrapper">
      <div class="comments-wrapper__item">
        <h2 class="h3">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</h2>

        {% paginate article.comments by 5 %}
          <div id="comments">
            <ul class="comments">
              {% for comment in article.comments %}
                <li id="{{ comment.id }}" class="comment">
                  {% render 'comment', comment:comment %}
                </li>
              {% endfor %}
            </ul>
            {% if paginate.pages > 1 %}
              {% render 'pagination', paginate: paginate%}
            {% endif %}
          </div>
        {% endpaginate %}
      </div>
    </div>
  {% endif %}
    <div class="comments-wrapper">
      <div class="comments-wrapper__item">
        <div class="comment-form">
          {% form 'new_comment', article %}
            <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>
            {% render 'form-status', form_id: formId, success_message: post_message %}
            <div class="form-wrapper">
              <div class="form-item">
                <label for="{{ formId }}-author">{{ 'blogs.comments.name' | t }}</label>
                <input type="text" name="comment[author]" id="{{ formId }}-author" class="input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}"{% if form.errors contains 'author' %} aria-invalid="true" aria-describedby="{{ formId}}-author-error"{% endif %}>
                {% if form.errors contains 'author' %}
                  <span id="{{ formId}}-author-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% render 'icon-error' %}
                    <span>{{ 'blogs.comments.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </span>
                {% endif %}
              </div>
              <div class="form-item">
                <label for="{{ formId }}-email">{{ 'blogs.comments.email' | t }}</label>
                <input type="email" name="comment[email]" id="{{ formId }}-email" class="input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="{{ formId}}-email-error"{% endif %}>
                {% if form.errors contains 'email' %}
                  <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% render 'icon-error' %}
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                {% endif %}
              </div>
              <div class="form-item__text-area">
                <label for="{{ formId }}-body">{{ 'blogs.comments.message' | t }}</label>
                <textarea 
                name="comment[body]"
                id="{{ formId }}-body"
                class="input-full{% if form.errors contains 'body' %} input--error{% endif %}"
                cols="1" rows="1" name="description" wrap=physical
                {% if form.errors contains 'body' %} 
                  aria-invalid="true" 
                  aria-describedby="{{ formId}}-body-error"
                {% endif %}>{{ form.body }}</textarea>
                {% if form.errors contains 'body' %}
                  <span id="{{ formId}}-body-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% render 'icon-error' %}
                    <span>{{ 'blogs.comments.message' | t }} {{ form.errors.messages['body'] }}.</span>
                  </span>
                {% endif %}
              </div>
            </div>
            {% if blog.moderated? %}
              <p class="fine-print">{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}
            <input type="submit" class="btn-blue font-weight-bold" value="{{ 'blogs.comments.post' | t }}">
          {% endform %}
      </div>
   </div>
  </div>
</div>
