<!-- Scripts and css and libraries-->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        window.performance.mark("debut:theme_stylesheet_loaded.start");
        function onLoadStylesheet() {
            performance.mark("debut:theme_stylesheet_loaded.end");
            performance.measure(
                "debut:theme_stylesheet_loaded",
                "debut:theme_stylesheet_loaded.start",
                "debut:theme_stylesheet_loaded.end"
            );
            var url = "{{ 'theme.aio.min.css' | asset_url }}";
            var link = document.querySelector('link[href="' + url + '"]');
            link.loaded = true;
            link.dispatchEvent(new Event("load"));
        }
    });
</script>

<!-- Google Fonts -->
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
/>
{{ 'jquery-2.2.3.min.aio.min.js' | asset_url | script_tag }}
<!-- Custom CSS -->
{{ 'style.scss.css' | asset_url | stylesheet_tag }} {{ 'magnific-popup.aio.min.css' | asset_url |
stylesheet_tag }} {{ 'theme.css' | asset_url | stylesheet_tag }}
<!-- slick slider -->
<link
    rel="stylesheet"
    type="text/css"
    href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>
<!-- Lity Lightbox  -->
{{ 'lity.aio.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'lazysizes.aio.min.js' | asset_url }}" async="async"></script>
<!-- Ends -->
{%comment%} store the customer order count in storage as it's being used at the time of adding a
product. {%endcomment%}
<script>
    {% if customer%}
    localStorage.setItem("checkReturningCustomer", true);
    {%else%}
    localStorage.removeItem("checkReturningCustomer");
    {%endif%}
</script>

{% comment %}
<script src="{{ 'headScripts.js' | asset_url }}"></script>
{% endcomment %}
