<svg class="icon-plus-circle" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
    <g fill="none" fill-rule="evenodd">
        <g fill="#000">
            <path d="M384.932 459.003c0 .324-.263.588-.589.588h-3.755v3.756c0 .326-.264.589-.588.589-.324 0-.588-.263-.588-.589v-3.756h-3.757c-.324 0-.588-.264-.588-.588 0-.325.264-.589.588-.589h3.757v-3.756c0-.324.264-.588.588-.588.324 0 .588.264.588.588v3.756h3.755c.326 0 .589.263.589.589zm5.068 0c0 2.671-1.04 5.184-2.93 7.072-1.95 1.95-4.51 2.925-7.07 2.925-2.56 0-5.12-.975-7.07-2.925-1.889-1.889-2.93-4.401-2.93-7.072 0-2.672 1.04-5.184 2.93-7.073 1.888-1.889 4.4-2.93 7.07-2.93s5.183 1.04 7.07 2.93c1.89 1.889 2.93 4.4 2.93 7.073zm-1.176 0c0-2.358-.918-4.575-2.585-6.241-1.666-1.667-3.882-2.585-6.239-2.585-2.357 0-4.573.918-6.24 2.585-1.665 1.666-2.583 3.883-2.583 6.24 0 2.358.918 4.575 2.584 6.242 3.44 3.44 9.039 3.44 12.477 0 1.668-1.668 2.586-3.884 2.586-6.241z" transform="translate(-370 -449)"/>
        </g>
    </g>
</svg>