<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentcolor">
    <g>
        <g>
            <path d="M1410.972 20l-6.76-6.759c-.283-.284-.283-.745 0-1.028.284-.284.745-.284 1.03 0l6.758 6.759 6.759-6.76c.284-.283.745-.283 1.028 0 .284.284.284.745 0 1.03L1413.028 20l6.76 6.759c.283.284.283.745 0 1.028-.284.284-.745.284-1.03 0L1412 21.028l-6.759 6.76c-.284.283-.745.283-1.028 0-.284-.284-.284-.745 0-1.03l6.759-6.758z" transform="translate(-1404 -12)"/>
        </g>
    </g>
</svg>