<svg xmlns="http://www.w3.org/2000/svg" width="28" height="10" viewBox="0 0 28 10">
    <g fill="currentcolor" fill-rule="evenodd">
        <g>
            <g>
                <g>
                    <path stroke="currentcolor" d="M0 5L25.125 5"
                        transform="translate(-1116 -2629) translate(1015 2623) translate(101 6)" />
                    <path fill="currentcolor" d="M25 2L30 8 20 8z"
                        transform="translate(-1116 -2629) translate(1015 2623) translate(101 6) rotate(90 25 5)" />
                </g>
            </g>
        </g>
    </g>
</svg>