<svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17">
    <g fill="none" fill-rule="evenodd">
        <g stroke="#363637">
            <g>
                <path d="M0 .5L20 .5M0 8.313L20 8.313M0 16.313L20 16.313" transform="translate(-19 -57) translate(19.336 57)"/>
            </g>
        </g>
    </g>
</svg>