
    <div class="productImageBlock ">
        <div class="product-media flex">
           
            <ul class="productDetailThumbImages js-pdp-thumbnailimage-block">
                {% for image in product.images %}
             
                <li>
                   <a href="#product{{ image.id | escape }}" title="Product"> <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}"></a>
                </li>
                {% endfor %}
                {% for media in product.media %}
        {% case media.media_type %}
        {% when 'video' %}
        <li class="video-thumb">
          <a href="#product{{ media.id | escape }}"> </a>
        </li>
        {% when 'external_video' %}
        <li class="video-thumb">
          <a href="#product{{ media.id | escape }}"> </a>
        </li>
        {% endcase %}
        {% endfor %}
            </ul>
            <ul class="productDetailImages js-pdp-image-block ">
                {% for image in product.images %}
             
                <li data-hash="product{{ image.id | escape }}">
                    <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
                </li>
                {% endfor %}
                {% for media in product.media %}
                {% case media.media_type %}
                {% when 'video' %}
                <li data-hash="product{{ media.id | escape }}">
                  <div class="product-video">
                    {{ media | video_tag: controls: true }}
                  </div>
                </li>
                {% when 'external_video' %}
                <li data-hash="product{{ media.id | escape }}">
                  <div class="product-video">
                    {{ media | video_tag }}
                  </div>
                </li>
                {% endcase %}
                {% endfor %}
            </ul>
            {% if product.images.size > 1 %}
            {% endif %}
        </div>
    </div>