<!-- Assign Item on Sale -->
{% assign on_sale = false %} {% assign sale_text = 'products.product.sale' | t %} {% if
product.compare_at_price > product.price %} {% assign on_sale = true %} {% endif %}
<!-- Sold Out -->
{% assign sold_out = true %} {% assign sold_out_text = 'products.product.sold_out' | t %} {% if
product.available %} {% assign sold_out = false %} {% endif %} {% assign isFreeProductAvailable =
false %} {% if product.metafields.free-trial-product != blank %} {% assign isFreeProductAvailable =
true %} {% assign freeProduct = all_products[product.metafields.free-trial-product.product] %} {%
endif %} {% unless customer %} {% assign notLogined = true %} {% endunless %}
{% assign before_price_text = product.metafields.custom.card_before_price_text.value %}
<div
    class="grid-view-item{% if sold_out%} grid-view-item--sold-out{% endif %} product-card"
    data-limoniapps-discountninja-product-handle="{{ product.handle }}"
    data-limoniapps-discountninja-product-collections="{{ product.collections | map: 'handle' | join: ',' }}"
    data-limoniapps-discountninja-product-available="{{ product.available}}"
    data-limoniapps-discountninja-product-price="{{ product.price}}"
    data-limoniapps-discountninja-product-compareatprice="{{ product.compare_at_price_max}}"
    data-limoniapps-discountninja-product-pricevaries="{{ product.price_varies}}"
    data-limoniapps-discountninja-product-pricemin="{{ product.price_min}}"
    data-limoniapps-discountninja-product-tags="{{ product.tags}}"
>
    <div>
        <a
            class="grid-view-item__link grid-view-item__image-container full-width-link"
            href="{{ product.url | within: collection }}"
        >
        </a>
        {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %} {%
        capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture
        %} {%- assign preview_image = product.featured_media.preview_image -%} {%- assign img_url =
        preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
            {% if product.metafields.product-icon-size.product_icon != blank %}
            <div class="small-image">
                {% assign iconimg = product.metafields.product-icon-size.product_icon | first %}
                <img src="{{ iconimg.cloudinary_src}}" alt="{{ iconimg.alt }}" />
            </div>
            {% endif %}
            <div
                id="{{ wrapper_id }}"
                class="grid-view-item__image-wrapper product-card__image-wrapper js"
            >
                <a href="{{ product.url | within: collection }}">
                    <img
                        id="{{ img_id }}"
                        class="grid-view-item__image lazyload"
                        alt="{{ preview_image.alt }}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ preview_image.aspect_ratio }}"
                        data-sizes="auto"
                        data-image
                    />
                </a>
            </div>
        </div>
        <noscript>
            {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
            <img
                class="grid-view-item__image lazyload"
                src="{{ preview_image | img_url: image_size, scale: 2 }}"
                alt="{{ preview_image.alt }}"
                style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;"
            />
        </noscript>
        <div class="grid-reviews flex-justify-column-center ">
          {% render  'review-block' productData: product %}
        </div>
        <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">
            {{product.title}}
        </div>
    </div>
    <div
        class="flex-aligment-end {% if isFreeProductAvailable and notLogined%} flex-space-between {%else%} flex-justify-center {% endif %}"
    >
        <div
            class="btn-wrapper-collection {% if isFreeProductAvailable and notLogined%} flex-40 {% endif %}"
        >
        <div  class="card-grid-prices-wrapper" style="flex-direction: column; align-items: center;">
          {% if product.compare_at_price > product.price %}
                <!-- <s id="ComparePrice" class="product-single__sale-price">
                  {{ product.compare_at_price_max | money }}
                </s> -->
                {% endif %}
                {% if before_price_text != blank %}
                <span class="product-single__price">{{before_price_text}}</span>
                {% endif %}
              <span class="product-single__price"> {{ product.price | money }} </span>
              {% if customer %}
                {% assign product_collections = product.collections | map: "handle" %}
                {% if product_collections contains 'price-more-than-80' %} 
                    <span class="product-single__price" style="font-weight: normal"> (15% off for return customers) </span>
                {% endif %}
              {% endif %}
        </div>
            <a class="btn-red font-weight-bold" href="{{ product.url | within: collection }}">
              Bite Now
            </a>
        </div>
        {% if isFreeProductAvailable and notLogined%}
        <div class="btn-wrapper-collection flex-55">
            <a
                class="btn-blue uppercase font-weight-bold"
               href="{{ freeProduct.url| within: collection }}"
            >
            Try Now, Pay Later
            </a>
        </div>
        {% endif %}
    </div>
</div>
