<li>
  {% if relatedArticle.image %}
  {% capture img_id %}ArticleImage-{{ relatedArticle.image.id }}{% endcapture %}
  {% capture img_wrapper_id %}ArticleImageWrapper-{{ relatedArticle.image.id }}{% endcapture %}
  {%- assign img_url = relatedArticle.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <div id="{{ img_wrapper_id }}" class="related-image-section">
    <a href="{{ relatedArticle.url }}" title="{{ relatedArticle.title }}" data-image-loading-animation>
      <img id="{{ img_id }}" class="lazyload" data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ relatedArticle.image.aspect_ratio }}" data-sizes="auto" alt="{{ article.title }}">
    </a>
  </div>
  <noscript>
    <p>
      <a href="{{ relatedArticle.url }}" title="{{ relatedArticle.title }}">
        {{ relatedArticle | img_url: '455x300', scale: 2 | img_tag: relatedArticle.title }}
      </a>
    </p>
  </noscript>
  {% endif %}
  <div class="blogCard-description">
    <a href="{{ relatedArticle.url }}" title="{{ relatedArticle.title }}" class="blog-title">
      <h5>{{ relatedArticle.title}}</h5>
      <p>{{ relatedArticle.excerpt_or_content | strip_html | truncatewords: 27 }}</p>
    </a>
    <div class="tags-readTime-wrapper-card">
      {% include 'tags-block', articleTagsList: article.tags%}
      {% include 'time-to-read', articleContent: article.content%}
    </div>
  </div>
</li>