<li>
    {% if customer %}
    <a href="/account" title="My Account">My Account
        {%else%}
        <a href="/account/login" title="Log In">
            Log In
            {%endif%}
        </a>
</li>
<li><a href="/search" title="Search">Search</a></li>
{% for link in mobileBottomMenu.links %}
{% if link.links != blank %}
{%else%}
<!-- If NO child menus are there -->
<li>
    <a href="{{ link.url }}" title="{{ link.title | escape }}">
        {{ link.title | escape }}
    </a>
</li>
{%endif%}
{%endfor%}