<ul class="flex main-menu">
  {% for link in mainMenu.links %}
  {% if link.links != blank %}
  <!-- If second child menus are there -->
  {% assign parent_index = forloop.index %}
  <li class="{% if link.levels ==  2 %}has-big-nav{%else%}has-sub-nav{%endif%}" aria-haspopup="true">
    <a href="{{ link.url }}" title="{{ link.title | escape }}" class="site-nav__link" data-meganav-type="parent"
      aria-controls="MenuParent-{{ parent_index }}" aria-expanded="false"
      {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page" {% endif %}{% endunless%}>
      {{ link.title | escape }}
      <span class="up-down-icon">
        {% include 'icon-chevron-down' %}
        {% include 'icon-chevron-up' %}
      </span>
    </a>
    {% if link.levels ==  2 %}
    <div class="submenu">
      <!-- First SHOP menu -->
      <div class="container-1020 flex-wrap">
        <div class="submenu-links">
          {% for childlink in link.links %}
          {% if childlink.links != blank %}
          <!-- If third child menus are there -->
          <h6> {{ childlink.title | escape }}</h6>
          <ul>
            {% for subChildlink in childlink.links %}
            <li>
              <a href="{{ subChildlink.url }}" title="{{ subChildlink.title | escape }}" data-meganav-type="parent" aria-controls="MenuParent-{{ parent_index }}"
                aria-expanded="false"
                {% unless request.page_type == 'index' %}{% if subChildlink.active %}aria-current="page"
                {% endif %}{% endunless%}> {{ subChildlink.title | escape }}
              </a>
            </li>
            {%endfor%}
          </ul>
          <!-- <a href="#" title="Shop All">Shop All</a> -->
          {% endif %}
          {%endfor%}
        </div>
        <!-- Blog Section Begins -->
        <div class="blog-list ipad-none">
          <ul class="flex-wrap">
            {% if article1 %}
            <li>
              <a href="{{article1.url}}" title="{{article1.title}}">
                <div class="image-section">
                  <picture>
                    <source media="(max-width: 780px)" srcset="">
                  <img src="{{ article1.image.src | img_url: '650x' }}" alt="{{article1.title}}" />
                  </picture>
                </div>
                <div class="content">
                  <h5>{{article1.title}}</h5>
                  <p>{{article1.content | strip_html | truncate: 60}}</p>
                </div>
              </a>
            </li>
            {%endif%}
            {% if article2 %}
            <li>
              <a href="{{article2.url}}" title="{{article2.title}}">
                <div class="image-section">
                  <picture>
                    <source media="(max-width: 780px)" srcset="">
                  <img src="{{ article2.image.src | img_url: '650x' }}" alt="{{article2.title}}" />
                </picture>
                </div>
                <div class="content">
                  <h5>{{article2.title}}</h5>
                  <p>{{article2.content | strip_html | truncate: 60}}</p>
                </div>
              </a>
            </li>
            {%endif%}
          </ul>
        </div>
        <!-- Blog Section Ends -->
      </div>
      {%else%}
      <ul class="sub-menu">
        {% for childlink in link.links %}
        <li>
          <a href="{{ childlink.url }}" class="site-nav__link" title="{{ childlink.title | escape }}"
            aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}" data-meganav-type="parent"
            {% unless request.page_type == 'index' %}{% if childlink.active %}aria-current="page"
            {% endif %}{% endunless%} tabindex="-1">
            {{ childlink.title | escape }}</a>
        </li>
        {%endfor%}
      </ul>
    </div>
    {%endif%}
  </li>
  {% else %}
  <!-- If NO child menus are there -->
  <li>
    <a href="{{ link.url }}" title="{{ link.title | escape }}" class="site-nav__link">
      {{ link.title | escape }}
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>