<!-- /snippets/social-sharing.liquid -->
<ul class="social-sharing flex-align-center">
  {% unless is_Article%}
  <p>Share</p>
  {% endunless %}
  {% if settings.share_facebook %}
  <li>
    <a target="_blank" title="Share on Facebook"
      href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
      {% if is_Article%}
      {% include 'icon-facebook' %}
      {% else %}
      <img src="{{ 'icon-facebook-circle.png' | asset_url }}" alt="Facebook">
      {% endif %}
    </a>
  </li>
  {% endif %}

  {% if settings.share_twitter %}
  <li>
    <a target="_blank" title="Share on Twitter"
      href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
      {% if is_Article%}
      {% include 'icon-twitter' %}
      {% else %}
      <img src="{{ 'icon-twitter-circle.png' | asset_url }}" alt="Twitter">
      {% endif %}
    </a>
  </li>
  {% endif %}

  {% if settings.share_email %}
  <li>   
    <a target="_blank" href="mailto:?subject=JSDentalLab&body=https://jsdentallab.com/{{share_permalink}}" title="Share on Email">
      {% if is_Article%}
      {% include 'icon-email' %}
      {% else %}
      <img src="{{ 'icon-email-circle.png' | asset_url }}" alt="Email">
      {% endif %}

    </a>
  </li>
  {% endif %}
  {% if settings.copy_to_clipboard%}
  <li>
    <a title="Copy to ClipBoard" onclick="addToClipBoard()" class="copyToClipBoard">
      {% if is_Article%}
      {% include 'icon-link' %}
      {% endif %}
      <div class="popup-wind">
        Copied to clipboard
      </div>
    </a>
  </li>
  {% endif %}

</ul>
<script>
  const addToClipBoard = () => {
    navigator.clipboard.writeText(window.location.href)
    const popUpWind = document.querySelector(".popup-wind");
    popUpWind.style.display = 'block';
    setTimeout(() => popUpWind.style.display = 'none', 1000);
  }
</script>