<ul class="flex-justify-center">
    {% if settings.social_facebook_link != blank%}
    <li>
        <a href="{{settings.social_facebook_link}}" target="_blank" title="Facebook">
            {% include 'icon-facebook' %}
        </a>
    </li>
    {%endif%}
    {% if settings.social_instagram_link != blank%}
    <li>
        <a href="{{settings.social_instagram_link}}" target="_blank" title="Instagram">
            {% include 'icon-instagram' %}
        </a>
    </li>
    {%endif%}
    {% if settings.social_twitter_link != blank%}
    <li>
        <a href="{{settings.social_twitter_link}}" target="_blank" title="Twitter">
            {% include 'icon-twitter' %}
        </a>
    </li>
    {%endif%}
</ul>