{% assign categoryTag = ""%}

{% if articleTagsList.size > 0%}
<ul class="tags-list">
  {% for tag in articleTagsList %}
  {%- if categoryTag == blank -%}
  {%- unless tag contains "_rel"-%}
  {% assign categoryTag = tag %}
  <li>{{ categoryTag }}</li>
  {%- endunless-%}
  {%- endif -%}
  {% endfor %}
</ul>
{% endif %}