{% if section.blocks.size > 0%}
<div class="four-column-cta">
    <div class="container-1260">
        <h6>{{section.settings.titleBlue}}</h6>
        <h2>{{section.settings.title}}</h2>
        <ul>
            {% for block in section.blocks %}
            <li>
                <div class="image-section">
                    {% if block.settings.icon != blank %}
                    <img 
                    src="{{ block.settings.icon | img_url: 'master' }}"
                    alt="{{block.settings.title}}">
                    {%endif%}
                </div>
                <h5>{{block.settings.title}}</h5>
                {{block.settings.description}}
            </li>
            {%endfor%}
        </ul>
        {% if section.settings.buttonText != blank %}
        <a class="btn-red" href="{{section.settings.buttonLink}}"
            title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
        {%endif%}
    </div>
</div>
{%endif%}









