<div class="password-content">
  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
      {% include 'social-sharing' %}
    </div>
  {% endif %}

  <div class="password-powered-by">
    <small>{{ powered_by_link }}</small>
  </div>
</div>











