{% if section.settings.title != blank %}
<div class="hero-banner flex-wrap">
  <div class="content width-50">
    <div class="inner">
      <h1> {{section.settings.title}}</h1>
      <p>{{section.settings.description}}</p>
      {% if section.settings.buttonText != blank %}
      <a class="btn-red" href="{{section.settings.buttonLink}}"
        title="{{section.settings.buttonText}}">{{section.settings.buttonText}}</a>
      {%endif%}
    </div>
  </div>
  <div class="image-section width-50">
    {% if section.settings.backgroundImage != blank %}
    <picture>
      
      <source media="(max-width: 480px)"
      srcset="
      {{ section.settings.backgroundImage | img_url: '500x' }}">
      <img
      src="{{ section.settings.backgroundImage | img_url: '700x' }}"
      alt="{{section.settings.title}}">
    </picture>
    {%endif%}
  </div>
</div>
{%endif%}








