{% assign settings = shop.metafields.commentsplus.settings.value %}
{% assign siteName = settings.disqus.site_name %}
<a href="{{ article.url }}#disqus_thread" data-disqus-identifier="article-{{ article.id }}">0 Comments</a><script id="dsq-count-scr" src="//{{ siteName }}.disqus.com/count.js" async></script>