{% if section.settings.title != blank %}
<div class="half-img-half-content">
  <div class="container-1120 flex-align-center">
    <div class="image-section width-50">
      {% if section.settings.image != blank %}
      <img class="lazyload" src="{{ section.settings.image | img_url: '750x' }}" alt="{{section.settings.title}}">
      {%endif%}
    </div>
    <div class="content width-50">
      <h2>{{section.settings.title}}</h2>
      <p class="large">{{section.settings.description}}</p>
    </div>
  </div>
</div>
{%endif%}








