{% if section.settings.title != blank %}
<div class="full-width-content-cta-solid-bg">
    <div class="container-1400">
        <div class="content">
            <h2>{{section.settings.title}}</h2>
            {% if section.settings.buttonText != blank %}
            <a
                class="btn-red"
                href="{{section.settings.buttonLink}}"
                title="{{section.settings.buttonText}}"
                >
                {{section.settings.buttonText}}
              </a>
            {%endif%}
        </div>
    </div>
</div>
{%endif%}






