{% if section.blocks.size > 0%}
<div class="half-img-half-content-cta">
  <div class="container-1120">
    {% for block in section.blocks %}
    {%- assign preview_image = block.settings.sectionImage -%}
    {%- assign img_url =preview_image | img_url: '600x' -%}
    <div class="flex-align-center {{block.settings.position}}">
      <div class="image-section {{block.settings.iamgeStyle}}">
        <!-- by default image will be cover, if there is need of contain then contain class to be added -->
        {% if block.settings.sectionImage != blank %}
        <img
        class="lazyload blur"
        alt="{{block.settings.title}}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
        data-aspectratio="{{ preview_image.aspect_ratio }}"
        data-sizes="auto"
        data-image
    />
        {%endif%}
      </div>
      <div class="content">
        <span class="count"></span>
        <h2>{{block.settings.title}}</h2>
        {{block.settings.description}}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%}









