{% if section.settings.title != blank %} {%- assign preview_image = section.settings.backgroundImage
-%} {%- assign img_url =preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div class="half-img-half-content-cta-solid-bg dark-blue-bg">
    <div class="container-1200 flex-align-center">
        <div class="image-section">
            {% if section.settings.backgroundImage != blank %}
            <picture>
                <img
                    class="lazyload blur"
                    alt="{{ section.settings.title }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ preview_image.aspect_ratio }}"
                    data-sizes="auto"
                    data-image
                />
            </picture>
            {%endif%}
        </div>
        <div class="content">
            <h2>{{section.settings.title}}</h2>
            <div class="btn-wrapper">
                {% if section.settings.buttonText != blank %}
                <a
                    class="btn-red"
                    href="{{section.settings.buttonLink}}"
                    title="{{section.settings.buttonText}}"
                    >{{section.settings.buttonText}}</a
                >
                {%endif%} {% if section.settings.buttonText2 != blank %}
                <a
                    class="btn-white-border"
                    href="{{section.settings.buttonLink2}}"
                    title="{{section.settings.buttonText2}}"
                    >{{section.settings.buttonText2}}</a
                >
                {%endif%}
            </div>
            <p>
                {{section.settings.lowerTitle}} {% if section.settings.linkText != blank %}
                <a href="{{section.settings.link}}" title="{{section.settings.link}}"
                    >{{section.settings.linkText}}</a
                >
                {%endif%}
            </p>
        </div>
    </div>
</div>
{%endif%}




