{% if section.blocks.size > 0%}
<div class="half-img-half-content-cta">
  <div class="container-1120">
    {% for block in section.blocks %}
    <div class="flex-align-center {{block.settings.position}}">
      <h6 class="ipad-block">{{block.settings.subHeading}}</h6>
      <div class="image-section">
        {% if block.settings.sectionImage != blank %}
        <picture>
          <source media="(max-width: 520px)" srcset="{{ block.settings.sectionImage | img_url: '400x' }}" >
        <img class="lazyload" src="{{ block.settings.sectionImage | img_url: '600x' }}" alt="{{block.settings.title}}">
        {%endif%}
      </div>
      <div class="content">
        <h6 class="ipad-none">{{block.settings.subHeading}}</h6>
        <h2>{{block.settings.title}}</h2>
        {{block.settings.description}}
        <span> {{block.settings.note}}</span>
        {% if block.settings.buttonText != blank %}
        <a class="btn-red" href="{{block.settings.buttonLink}}"
          title="{{block.settings.buttonText}}">{{block.settings.buttonText}}</a>
        {%endif%}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%}







