<div class="form-section login-page-tempate ">
  <div class="container-520">
    <h1 class="section-header__title text-center">{{ 'customer.activate_account.title' | t }}

    </h1>
   
    {% form 'activate_customer_password' %}
    {%- if form.errors -%}
    <div class="form-message form-message--error">
      {{ form.errors | default_errors }}
    </div>
    {%- endif -%}
    <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
    <input type="password" value="" name="customer[password]" id="CustomerPassword"
      placeholder="{{ 'customer.activate_account.password' | t }}">
    <label for="CustomerPasswordConfirmation"
      class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
    <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation"
      placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
    <div class="text-center btn-wrapper">
      <input type="submit" class="btn-red" value="{{ 'customer.activate_account.submit' | t }}">
      <input type="submit" name="decline" class="red-link" value="{{ 'customer.activate_account.cancel' | t }}" style="margin-top: 23px;">
      {% endform %}
    </div>
  </div>
</div>
