<div class="form-section login-page-tempate">

    <div class="container-520">
      <div class="form-message form-message--success hidden" id="ResetSuccess" tabindex="-1">
        {{ 'customer.recover_password.success' | t }}
      </div>

      <div id="customer" class="form-vertical">

        
        <h1 id="LoginHeading" class="text-center">{{ 'customer.login.title' | t }}</h1>

        {% form 'customer_login', novalidate: 'novalidate' %}

          {%- if form.errors -%}

              {{ form.errors | default_errors }}
        
          {%- endif -%}

          <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {%- if form.errors contains 'form' -%}
              class="input--error"
              aria-invalid="true"
            {%- endif -%}
            >

          {% if form.password_needed %}
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              {%- if form.errors contains 'form' -%}
                class="input--error"
                aria-invalid="true"
              {%- endif -%}
            >
          {% endif %}

          <div class="text-center btn-wrapper">
            {% if form.password_needed %}
          <a  class="red-link" href="#" onclick="showRecoverPasswordForm();return false;" >{{ 'customer.login.forgot_password' | t }}</a>
            {% endif %}

            <input type="submit" class="btn-red" value="{{ 'customer.login.sign_in' | t }}">

          
              {{ 'layout.customer.create_account' | t | customer_register_link }}
           
          </div>

        {% endform %}
      </div>

      <div id="recover-password" style='display:none'>

        <div class="text-center login-header">
          <h2 id="RecoverHeading">{{ 'customer.recover_password.title' | t }}</h2>
         
        </div>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}

            <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="input-full{% if form.errors %} input--error{% endif %}"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
              {%- endif -%}
              >
            {%- if form.errors -%}
              <span id="RecoverEmail-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.messages['form'] }}</span>
              </span>
            {%- endif -%}

            <div class="text-center btn-wrapper">
            
              <p>{{ 'customer.recover_password.subtext' | t }}</p>
                <input type="submit" class="btn-red" value="{{ 'customer.recover_password.submit' | t }}">
             

              <a href="#" title="{{ 'customer.recover_password.cancel' | t }}" class="red-link forget-cancel"  onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
            </div>
          {% endform %}
        </div>

      </div>

      {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {% endcomment %}
      {% if shop.checkout.guest_login %}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>

          {% form 'guest_login' %}
            <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
      {% endif %}
    </div>

  </div>

  <script type="text/javascript">
    function showRecoverPasswordForm() {
      document.getElementById('recover-password').style.display = 'block';
      document.getElementById('customer').style.display='none';
    }
  
    function hideRecoverPasswordForm() {
      document.getElementById('recover-password').style.display = 'none';
      document.getElementById('customer').style.display = 'block';
    }
  
    if (window.location.hash == '#recover') { showRecoverPasswordForm() }
    
      // reset_success is only true when the reset form is
   
    {% if reset_success %}
    document.getElementById('ResetSuccess').style.display = 'block';
    {% endif %}
  
  
  </script>
  

