<div class="form-section login-page-tempate">

  <div class="container-520">
  
      {% comment %}
        This form must use 'reset_customer_password'
      {% endcomment %}
      {% form 'reset_customer_password' %}
  
      
        
          <h1 class="section-header__title text-center">{{ 'customer.reset_password.title' | t }}</h1>
 
  
        <!--<p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>-->
  
        {{ form.errors | default_errors }}
        <label for="CustomerEmail">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password"  value="" name="customer[password]" id="ResetPassword" {% if form.errors contains "password" %} class="error"{% endif %}>
        <label for="CustomerEmail">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>
  
        <div class="text-center btn-wrapper">
        <button type="submit" class="btn-red">{{ 'customer.reset_password.submit' | t }}</button>
       <!--   <input type="submit" class="btn-green" value="{{ 'customer.reset_password.submit' | t }}">-->
      </div>
  
      {% endform %}
  
    </div>
  </div>
  
  <style>
    header {
       background: transparent;
    }
    </style>