{% if section.settings.title != blank %}
<div class="guard-dicount-highlight js-guard-dicount-highlight flex-wrap hide">
    {% if section.settings.image != blank %}
    <div class="image-section">
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{section.settings.title}}">
    </div>
    {%endif%}
    <div class="content">
        <h6>{{section.settings.title}}</h6>
        <p>{{section.settings.content}}</p>
    </div>
</div>
{%endif%}








