

  #save-info-modal label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.15;
    text-align: left;
  }
  #save-info-modal .main-modal-content .title {
    font-size: 20px;
  }
  #save-info-modal .modal-content .main-modal-content {
    margin-top: 0;
  }
  #save-info-modal .modal-content {
    margin: 10vh auto;
  }
  .modal-content .main-modal-content span#save-info-button {
    margin-top: 0;
  }
  #save-info-modal {
    z-index: 10;
  }
  .modal-content .main-modal-content span.error {
    font-size: 14px;
    margin-top: 0;
    color: red;
  }

