{% assign cart_need_attr = false %}
{% assign cart_collection = section.settings.collection %}
<div id="cart-detail-section" class="cart-detail-section">
  <div class="cart-table-section">
    <div class="cart-table-header flex">
      <div class="table-head">
        Product
      </div>
      <div class="table-head">
        Price
      </div>
      <div class="table-head">
        Quantity
      </div>
      <div class="table-head">
        Total
      </div>
    </div>

    {% for item in cart.items %}
    <div class="cart-table-body flex" data-variant-id="{{ item.variant_id }}">
      <div class="table-item js-title-section" data-head="Product">
        <div class="image-section"><img class="img-responsive img-thumbnail item-image"
            src="{{ item.product.featured_image.src | product_img_url: 'master' }}"
            alt="{{ item.title | escape }}" /></div>
        <div class="content">

          <a class="item-name" href="{{ item.product.url | within: collections.all }}">{{ item.product.title }}
          </a>

          {% unless item.variant.title contains 'Default' %}
          <small>{{ item.variant.title }}</small>
          {% endunless %}

          <small class="cart line-properties" 
                  data-key="{{ item.key }}" 
                  data-id="{{ item.variant_id }}" 
                  data-line="{{ forloop.index }}">
            {% assign propertySize = item.properties | size %}
            {% if propertySize > 0 %}
              {% assign need_attr = false %}
              {% if customer and cart_collection %}
                {% for collection in item.product.collections %}
                  {% assign return_customer_attr = false %}
                  {% assign impression_attr = false %}
                  {% assign need_attr = true %}
                {% endfor %}
              {% endif %}
              {% for p in item.properties %}
                {% assign first_character_in_key = p.first | truncate: 1, '' %}
                {% unless p.last == blank or first_character_in_key == '_' %}
                  {% if need_attr %}
                    {% if p.first == "Return Customer" %}
                      {% assign return_customer_attr = true %}
                    {% endif %}
                    {% if p.first == "Impression" %}
                      {% assign impression_attr = true %}
                    {% endif %}
                  {% endif %}
                  <br>
                  {{ p.first }}:
                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}
                {% endunless %}
              {% endfor %}
              {% if need_attr  %}
                {% unless return_customer_attr and impression_attr %}
                  {% assign cart_need_attr = true %}
                  <div class="js-add-info" style="display:none"
                        data-line="{{ forloop.index }}"
                        data-id="{{ item.variant_id }}" 
                        data-sku="{{ item.sku }}" 
                        data-key="{{ item.key }}"
                        data-title="{{ item.title }}"
                        {% assign item_title = item.title | upcase %}
                        {% assign item_sku = item.sku | upcase %}
                        {% if item_title contains "3D" or item_sku contains "3D" %}
                          data-item3d="3d"
                          {% if item_sku contains "UPPER" %}
                            data-side="upper" 
                          {% elsif item_sku contains "LOWER" %}
                            data-side="lower" 
                          {% else %}
                            data-side="" 
                          {% endif %}
                        {% else %}
                          data-item3d="2d"
                          data-side="" 
                        {% endif %}
                        >
                    {% for p in item.properties %}
                      {% assign first_character_in_key = p.first | truncate: 1, '' %}
                        <span data-first="{{ p.first }}" data-last= "{{ p.last }}"></span>
                    {% endfor %}                    
                  </div>
                {% endunless %}
              {% endif %}
            {% endif %}
          </small>
          <a class="remove" href="/cart/change?line={{ forloop.index }}&quantity=0">remove</a>
        </div>
      </div>

      <div class="table-item price js-price-column" data-head="Price">
        {% if item.original_price > item.price %}
          <s style="margin-right: 5px" class="product-single__sale-price">{{ item.original_price | money }}</s>
        {%endif%}
        <span class="price">{{ item.price | money }}</span>

        {% if item.line_level_discount_allocations.size > 0 %}
          {% for discount_allocation in item.line_level_discount_allocations %}
            <strong> {{ discount_allocation.discount_application.title }}</strong>
          {% endfor %}
        {% endif %}
      </div>

      <div class="table-item" data-head="Quantity">
        <div class="cart-quantity-outer">
          <a class="minus-qty" onclick="minusQuantity(this)" data-variant-id="{{ item.variant_id }}"
            data-attr="{{item.id}}"></a>
          <input type="text" class="cart__quantity-selector" name="updates[]" id="updates_{{ item.key }}"
            value="{{ item.quantity }}" maxlength="3" size="3">
          <a class="plus-qty" onclick="plusQuantity(this)" data-variant-id="{{ item.variant_id }}"
            data-attr="{{item.id}}"></a>
        </div>
      </div>
      <div class="table-item" data-head="Total">
        <span class="js-line-item-price" data-variant-id="{{ item.variant_id }}">{{ item.line_price | money }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="cart-subtotal-section">

    <a class="btn-red-border ipad-none " href="/collections/all">Continue Shopping</a>
    <div class="cart-total-section">
      <div class="cart-total flex">
        <h4>Subtotal</h4><span id="bk-cart-subtotal-price"
          class="js-cart-total">{{ cart.total_price | money }}</span></h4>
      </div>
      <p>Taxes and shipping calculated at checkout</p>
      <button class="btn-red" type="submit" id="checkout" name="checkout">Proceed to Checkout</button>
    </div>
  </div>
</div>
{% if cart_need_attr %}
<div id="modals">
  <div id="save-info-modal" class="modal" style="display: none">
    <div class="modal-content">
      <span class="close close-modal">×</span>
      <div class="main-modal-content">
        <div class="title">{{ section.settings.modal_message }}</div>
        <div class="sub-title"></div>
        <span id="save-info-button" class="btn-red">Continue</span>
        <span class="error"></span>
      </div>
    </div>
  </div>
</div>
<script>
  var closeModal = document.querySelectorAll(".close-modal");
  closeModal.forEach((item) => {
      item.addEventListener('click', function(e){
      document.getElementById("save-info-modal").style.setProperty("display", "none");
    });
  });
</script>
<style>
  #save-info-modal label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.15;
    text-align: left;
  }
  #save-info-modal .main-modal-content .title {
    font-size: 20px;
  }
  #save-info-modal .modal-content .main-modal-content {
    margin-top: 0;
  }
  #save-info-modal .modal-content {
    margin: 10vh auto;
  }
  .modal-content .main-modal-content span#save-info-button {
    margin-top: 0;
  }
  #save-info-modal {
    z-index: 10;
  }
  .modal-content .main-modal-content span.error {
    font-size: 14px;
    margin-top: 0;
    color: red;
  }
</style>
{% endif %}

<style>

  #save-info-modal label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.15;
    text-align: left;
  }
  #save-info-modal .main-modal-content .title {
    font-size: 20px;
  }
  #save-info-modal .modal-content .main-modal-content {
    margin-top: 0;
  }
  #save-info-modal .modal-content {
    margin: 10vh auto;
  }
  .modal-content .main-modal-content span#save-info-button {
    margin-top: 0;
  }
  #save-info-modal {
    z-index: 10;
  }
  .modal-content .main-modal-content span.error {
    font-size: 14px;
    margin-top: 0;
    color: red;
  }

</style>


