{% paginate blog.articles by 6 %}
{%- assign featuredArticle = articles[section.settings.featured_article] -%}
{% if featuredArticle.title != blank %}
<div class="featured-blog">
  <div class="container-1020">
    <div class="dropdown-filter">
      <div class="dropdown-filter__title">Categories:</div>
      <div class="dropdown-filter__select-wrap custom-select">
        <select id="dropdown-select" class="dropdown-filter__select js_filter_select" style="display: none"
          placeholder-text="Filter by">
          <option id="go_all" value="{{ shop.url }}{{ blog.url }}" selected>All</option>
          {%- for tag in blog.all_tags -%}
          {%- unless tag contains "_rel"-%}
          {% if current_tags contains tag %}
          <option class="select-dropdown__list-item" {% if forloop.first==true %}selected{% endif %}
            value="{{ shop.url }}{{ blog.url }}/tagged/{{ tag | handle }}" selected>{{ tag }}</option>
          {% else %}
          <option clas="select-dropdown__list-item" value="{{ shop.url }}{{ blog.url }}/tagged/{{ tag | handle }}">{{
            tag }}</option>
          {% endif %}
          {%- endunless -%}
          {%- endfor -%}
        </select>
      </div>
    </div>
  </div>
  <div class="container-1020 flex-align-center">
    <div class="image-section width-50">
      <a href="{{ featuredArticle.url }}" title="{{ featuredArticle.title }}">
        <img
        src="{{ featuredArticle | img_url: '600x' }}"
        alt="{{ featuredArticle.title }}"/>
      </a>
    </div>
    <div class="content width-50">
      <div class="tags-readTime-wrapper-card featuredArticle">
        {% include 'tags-block', articleTagsList: featuredArticle.tags%}
        {% include 'time-to-read', articleContent: featuredArticle.content %}
      </div>
      <a href="{{ featuredArticle.url }}">
        <h2>{{ featuredArticle.title }}</h2>
        <p>{{ featuredArticle.excerpt_or_content | strip_html | truncatewords: 45 }}</p>
      </a>
    </div>
  </div>
</div>
{% endif %}
<div class="container-1020">
  <ul class="blog-list-view flex-wrap">
    {% for article in blog.articles %}
    {% include 'related-artilcle-list' relatedArticle: article %}
    {% endfor %}
  </ul>
</div>
{%- if paginate.pages > 1 -%}
{% include 'pagination', paginate: paginate %}
{%- endif -%}
{% endpaginate %}

<script>
document.addEventListener("DOMContentLoaded", createSelect, false);
function createSelect() {
    const select = document.getElementsByClassName("js_filter_select");
    let liElement, ulElement, optionValue, iElement, optionText, selectDropdown, elementParentSpan;
    for (let select_i = 0; select_i < select.length; select_i++) {
        select[select_i].style.display = "none";
        const iteratedElement = document.getElementById(select[select_i].id);
        wrapElement(iteratedElement, select_i, select[select_i].getAttribute("placeholder-text"));
        for (let i = 0; i < select[select_i].options.length; i++) {
            liElement = document.createElement("li");
            optionValue = select[select_i].options[i].value;
            optionText = document.createTextNode(select[select_i].options[i].text);
            liElement.className = "select-dropdown__list-item";
            liElement.setAttribute("data-value", optionValue);
            liElement.appendChild(optionText);
            ulElement.appendChild(liElement);
            liElement.addEventListener(
                "click",
                function () {
                    displyUl(this);
                    const url = this.getAttribute("data-value");
                    if (url) {
                        window.location = url;
                    }
                    return false;
                },
                false
            );
        }
    }
    function wrapElement(el, i, placeholder) {
        const wrapper = document.createElement("div");
        el.parentNode.insertBefore(wrapper, el);
        wrapper.appendChild(el);
        document.addEventListener("click", function (e) {
            const clickInside = wrapper.contains(e.target);
            if (!clickInside) {
                const menu = wrapper.getElementsByClassName("select-dropdown__list");
                menu[0].classList.remove("active");
            }
        });
        const buttonElement = document.createElement("button"),
            spanElement = document.createElement("span"),
            spanText = document.createTextNode(placeholder);
        iElement = document.createElement("i");
        ulElement = document.createElement("ul");
        wrapper.className = "select-dropdown select-dropdown--" + i;
        buttonElement.className = "select-dropdown__button select-dropdown__button--" + i;
        buttonElement.setAttribute("data-value", "");
        buttonElement.setAttribute("type", "button");
        spanElement.className = "select-dropdown select-dropdown--" + i;
        iElement.className = "select-dropdown__arrow";
        ulElement.className = "select-dropdown__list select-dropdown__list--" + i;
        ulElement.id = "select-dropdown__list-" + i;
        wrapper.appendChild(buttonElement);
        spanElement.appendChild(spanText);
        buttonElement.appendChild(spanElement);
        buttonElement.appendChild(iElement);
        wrapper.appendChild(ulElement);
    }
    function displyUl(element) {
        if (element.tagName === "BUTTON") {
            selectDropdown = element.parentNode.getElementsByTagName("ul");
            for (let i = 0, len = selectDropdown.length; i < len; i++) {
                selectDropdown[i].classList.toggle("active");
                const parentNode = $(selectDropdown[i]).closest(".select-dropdown");
                parentNode[0].classList.toggle("active");
            }
        } else if (element.tagName === "LI") {
            const selectId = element.parentNode.parentNode.getElementsByTagName("select")[0];
            selectElement(selectId.id, element.getAttribute("data-value"));
            elementParentSpan = element.parentNode.parentNode.getElementsByTagName("span");
            element.parentNode.classList.toggle("active");
            elementParentSpan[0].textContent = element.textContent;
            elementParentSpan[0].parentNode.setAttribute(
                "data-value",
                element.getAttribute("data-value")
            );
        }
    }
    function selectElement(id, valueToSelect) {
        const element = document.getElementById(id);
        element.value = valueToSelect;
        element.setAttribute("selected", "selected");
    }
    const buttonSelect = document.getElementsByClassName("select-dropdown__button");
    for (let i = 0; i < buttonSelect.length; i++) {
        buttonSelect[i].addEventListener(
            "click",
            function (e) {
                e.preventDefault();
                displyUl(this);
            },
            false
        );
    }
}

</script>



<script>
document.addEventListener("DOMContentLoaded", createSelect, false);
function createSelect() {
    const select = document.getElementsByClassName("js_filter_select");
    let liElement, ulElement, optionValue, iElement, optionText, selectDropdown, elementParentSpan;
    for (let select_i = 0; select_i < select.length; select_i++) {
        select[select_i].style.display = "none";
        const iteratedElement = document.getElementById(select[select_i].id);
        wrapElement(iteratedElement, select_i, select[select_i].getAttribute("placeholder-text"));
        for (let i = 0; i < select[select_i].options.length; i++) {
            liElement = document.createElement("li");
            optionValue = select[select_i].options[i].value;
            optionText = document.createTextNode(select[select_i].options[i].text);
            liElement.className = "select-dropdown__list-item";
            liElement.setAttribute("data-value", optionValue);
            liElement.appendChild(optionText);
            ulElement.appendChild(liElement);
            liElement.addEventListener(
                "click",
                function () {
                    displyUl(this);
                    const url = this.getAttribute("data-value");
                    if (url) {
                        window.location = url;
                    }
                    return false;
                },
                false
            );
        }
    }
    function wrapElement(el, i, placeholder) {
        const wrapper = document.createElement("div");
        el.parentNode.insertBefore(wrapper, el);
        wrapper.appendChild(el);
        document.addEventListener("click", function (e) {
            const clickInside = wrapper.contains(e.target);
            if (!clickInside) {
                const menu = wrapper.getElementsByClassName("select-dropdown__list");
                menu[0].classList.remove("active");
            }
        });
        const buttonElement = document.createElement("button"),
            spanElement = document.createElement("span"),
            spanText = document.createTextNode(placeholder);
        iElement = document.createElement("i");
        ulElement = document.createElement("ul");
        wrapper.className = "select-dropdown select-dropdown--" + i;
        buttonElement.className = "select-dropdown__button select-dropdown__button--" + i;
        buttonElement.setAttribute("data-value", "");
        buttonElement.setAttribute("type", "button");
        spanElement.className = "select-dropdown select-dropdown--" + i;
        iElement.className = "select-dropdown__arrow";
        ulElement.className = "select-dropdown__list select-dropdown__list--" + i;
        ulElement.id = "select-dropdown__list-" + i;
        wrapper.appendChild(buttonElement);
        spanElement.appendChild(spanText);
        buttonElement.appendChild(spanElement);
        buttonElement.appendChild(iElement);
        wrapper.appendChild(ulElement);
    }
    function displyUl(element) {
        if (element.tagName === "BUTTON") {
            selectDropdown = element.parentNode.getElementsByTagName("ul");
            for (let i = 0, len = selectDropdown.length; i < len; i++) {
                selectDropdown[i].classList.toggle("active");
                const parentNode = $(selectDropdown[i]).closest(".select-dropdown");
                parentNode[0].classList.toggle("active");
            }
        } else if (element.tagName === "LI") {
            const selectId = element.parentNode.parentNode.getElementsByTagName("select")[0];
            selectElement(selectId.id, element.getAttribute("data-value"));
            elementParentSpan = element.parentNode.parentNode.getElementsByTagName("span");
            element.parentNode.classList.toggle("active");
            elementParentSpan[0].textContent = element.textContent;
            elementParentSpan[0].parentNode.setAttribute(
                "data-value",
                element.getAttribute("data-value")
            );
        }
    }
    function selectElement(id, valueToSelect) {
        const element = document.getElementById(id);
        element.value = valueToSelect;
        element.setAttribute("selected", "selected");
    }
    const buttonSelect = document.getElementsByClassName("select-dropdown__button");
    for (let i = 0; i < buttonSelect.length; i++) {
        buttonSelect[i].addEventListener(
            "click",
            function (e) {
                e.preventDefault();
                displyUl(this);
            },
            false
        );
    }
}

</script>


