{% if section.blocks.size > 0%}
<div class="half-img-half-content-cta">
  <div class="container-1120">
    {% for block in section.blocks %}
    <div class="flex-align-center {{block.settings.position}}">
      <div class="image-section {{block.settings.iamgeStyle}}">
        <!-- by default image will be cover, if there is need of contain then contain class to be added -->
        {% if block.settings.sectionImage != blank %}
        <img class="lazyload" src="{{ block.settings.sectionImage | img_url: '650x' }}" alt="{{block.settings.title}}">
        {%endif%}
      </div>
      <div class="content">
        <span class="count"></span>
        <h2>{{block.settings.title}}</h2>
        {{block.settings.description}}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%}









