{% assign tagsList = article.tags %}
{% assign relatedArticles = blog.articles | where: 'tags', article.tags %}
{% assign relatedArticlesCount = 0 %}

{% for relatedArticle in relatedArticles%}
{% if relatedArticle.title == article.title%}
{% assign activeArticleIndex = forloop.index%}
{% endif%}
{%endfor%}
{% assign relatedArticleQuantity = relatedArticles | size%}
{% assign maxAvailableAfter = relatedArticleQuantity | minus:activeArticleIndex %}
{% assign numberOfFirst = 3 | minus:maxAvailableAfter %}


{%- assign articleContent = article.content -%}{%- assign readtime = '' -%}
{%- if articleContent != blank -%}
{%- assign words = articleContent | strip_html | split:' ' -%}
{%- assign readtime = words.size | divided_by: 230 | round | at_least: 1 -%}
{%- capture readtime -%}{{ readtime }}{%- endcapture -%}
{%- endif -%}

<div>
  <div class="crumbs-container">
    {% include "breadcrumbs" %}
  </div>
  <div class="container-1400 article-column-block">
    <div id="contentTable">
      <div class="table-of-content-dropDown">
        <h4>
          Table of Content
        </h4>
        <div class="table-of-content-arrow" >
          {% include 'icon-chevron-down' %}
        </div>
      </div>
      <hr />
      <ul class="table-of-content-dropDown-content" >
      </ul>
    </div>

    <div class="article-container">

      {% if article.image %}
      {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
      {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
      {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

      <div id="{{ img_wrapper_id }}" class="image-section">
        <img id="{{ img_id }}" class="lazyload" data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ article.image.aspect_ratio }}" data-sizes="auto" alt="">
      </div>
      {% endif %}

      <div class="relative">
        <div class="title-wrapper">
          <div class="titleLeft">
            <h1 class="article-title">{{ article.title }}</h1>
            <div class="tags-readTime-wrapper">
              {% include 'tags-block', articleTagsList: article.tags%}
              {% include 'time-to-read', articleContent: article.content%}
            </div>
          </div>
          <div class="titleRight">
            {% if section.settings.blog_show_author %}
            <h6 class="author d-inline-block">{{ 'blogs.article.by_author' | t: author: article.author }} | </h6>
            {% endif %}
            {% if section.settings.blog_show_date %}
            <h6 class="publicationDtata d-inline-block">
              {{ article.published_at | time_tag: format: 'date' }}
            </h6>
            {% endif %}
          </div>
        </div>
        <div class="article-content">
          {{ article.content }}
        </div>

      </div>




      <!-- Newsletter-->
      <div class="newsletter hide">
        <h5>{{ section.settings.newsletterTitle }}</h5>
        <div class="newsletter-section">
          {% form 'contact' %}
          {% if form.posted_successfully? %}
          <p class="note form-success">
            Thank you for subscribing.
          </p>
          {% endif %}
          {{ form.errors | default_errors }}
          {% assign name_attr = 'contact.form.name' | t | handle %}
          <div class="newsletter-form flex">
            <label for="mail" class="hidden">Email Address</label>
            <input type="email" id="ContactFormEmail" class="subscribe__field" name="contact[email]"
              placeholder="Enter your email address" autocorrect="off" autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
            <input type="submit" class="btn-red" value="Sign Up">
          </div>
          {% endform %}
        </div>
        {{ section.settings.newsletterDesc }}
      </div>

    </div>
    <div class="sosials-column">
      {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image:
      article.image is_Article: true%}
    </div>
  </div>
  <!-- Related articles  -->

  <div class="container-1220">
    <div class="article-prev-next ipad-block">
      {%- if blog.next_article or blog.previous_article -%}
      {%- if blog.next_article -%}
      <a href="{{ blog.next_article }}" title="Previous" class="previous">
        <p class="flex-align-center">{% include 'icon-leftArrow' %} prev</p>
      </a>
      {%- endif -%}
      {%- if blog.previous_article -%}
      <a href="{{ blog.previous_article }}" title="Next" class="next">
        <p class="flex-align-center">next {% include 'icon-rightArrow' %}</p>
      </a>
      {%- endif -%}
      {%- endif -%}
    </div>

    <div class="article-prev-next flex-space-between ipad-none">
      {%- if blog.next_article or blog.previous_article -%}
      {%- if blog.next_article -%}
      <a href="{{ blog.next_article }}" title="Previous" class="previous">
        <p class="flex-align-center">{% include 'icon-leftArrow' %}previous article</p>
      </a>
      {%- endif -%}
      {%- if blog.previous_article -%}
      <a href="{{ blog.previous_article }}" title="Next" class="next">
        <p class="flex-align-center">next article {% include 'icon-rightArrow' %}</p>
      </a>
      {%- endif -%}
      {%- endif -%}
    </div>
    {% if relatedArticles.size > 1 %}
    <h4 class="related-title">related articles </h4>
    <hr class="related-hr" />
    <ul class="blog-list-view flex-wrap related-list">
      {%if relatedArticleQuantity !=2 %}
      {% for relatedArticle in relatedArticles%}
      {% assign maxIndex = activeArticleIndex | plus:3 %}
      {% if forloop.index > activeArticleIndex and maxIndex >= forloop.index and relatedArticle.title != article.title
      %}
      {% include 'related-artilcle-list' relatedArticle: relatedArticle%}
      {% endif %}
      {%endfor%}
      {% endif %}


      {% if 3 > maxAvailableAfter %}
      {% for relatedArticle in relatedArticles%}
      {% if numberOfFirst >= forloop.index and relatedArticle.title != article.title%}
      {% include 'related-artilcle-list' relatedArticle: relatedArticle%}
      {% endif %}
      {%endfor%}
      {% endif %}

    </ul>
    {% endif %}
    </div>

    {% if blog.comments_enabled? %}
      {% render  'comments-section', article, blog, comment, paginate: paginate %}
    {% endif %}
</div>





<script>
const formatStringForId = (string) => string.toLowerCase().replace(/[^a-zA-Z]/g, "");

function isScrolledIntoView(element) {
    const elementCoordinates = element.getBoundingClientRect();
    const elemTop = elementCoordinates.top;
    const elemBottom = elementCoordinates.bottom;
    return elemTop >= 0 && elemBottom <= window.innerHeight;
}

const hideItems = (itemsList) => itemsList.length === 0 && $(".recent-stories").hide();

const recentList = $(".recent-stories-list").children("li"),
    recentListArray = [];

hideItems(recentList);

const currentArticleID = $("article").attr("data-article-id");

$(recentList).each(function () {
    const articleID = $(this).attr("data-article-id");
    /* if the current article ID matches anyone in the loop - then remove it */
    if (currentArticleID === articleID) {
        $(this).remove();
    } else {
        recentListArray.indexOf(articleID) === -1
            ? recentListArray.push(articleID)
            : $(this).remove();
    }
});

hideItems(recentListArray);

const addClass = (element, className) => {
    element.classList.add(className);
};
const removeClass = (element, className) => {
    element.classList.remove(className);
};
document.addEventListener("DOMContentLoaded", function () {
    const articleContentHole = document
        .querySelector(".article-container")
        .querySelector(".relative");
    const articleContent = articleContentHole.querySelector(".article-content");
    const h2List = articleContent.querySelectorAll("h2");
    const contentTableWrapper = document.querySelector("#contentTable");
    const tableContentEll = contentTableWrapper.querySelector("ul");
    const dropdownTableOfContent = contentTableWrapper.querySelector(".table-of-content-dropDown");
    for (const h2Item of h2List) {
        const innerText = h2Item.innerText;
        const formatedForClass = formatStringForId(innerText);
        h2Item.id = formatedForClass;
        const liEll = document.createElement("li");
        liEll.className = formatedForClass;
        const hrefEll = document.createElement("a");
        hrefEll.setAttribute("href", `#${formatedForClass}`);
        hrefEll.innerHTML = innerText;
        liEll.appendChild(hrefEll);
        tableContentEll.appendChild(liEll);

        const ellOnScreen = document.querySelector(`#${formatedForClass}`);
        const parrentLiEll = document.querySelector(`.${formatedForClass}`);
        window.addEventListener("scroll", function (e) {
            if (isScrolledIntoView(ellOnScreen)) {
                const siblings = [...parrentLiEll.parentElement.children];
                siblings.forEach((liItem) => liItem.classList.remove("highLighted"));
                parrentLiEll.classList.add("highLighted");
            }
        });
    }
    const commentsLi = document.createElement("li");
    const commentLink = document.createElement("a");
    commentLink.setAttribute("href", `#ask_question`);
    commentLink.innerHTML = "Comments";
    commentsLi.appendChild(commentLink);
    tableContentEll.appendChild(commentsLi);

    const liList = tableContentEll.querySelectorAll("li");

    for (let i = 0; i < liList.length; i++) {
        liList[i].addEventListener("click", function (e) {
            e.preventDefault();
            const linkHref = liList[i].querySelector("a").getAttribute("href");
            const scrollTarget = document.querySelector(linkHref);
            const topOffset = document.querySelector("header").offsetHeight;
            const elementPosition = scrollTarget.getBoundingClientRect().top;
            const offsetPosition = elementPosition - topOffset;
            window.scrollBy({
                top: offsetPosition,
                behavior: "smooth",
            });
            removeClass(contentTableWrapper, "active");
        });
    }

    dropdownTableOfContent.addEventListener("click", () => {
        if (contentTableWrapper.classList.contains("active")) {
            removeClass(contentTableWrapper, "active");
        } else {
            addClass(contentTableWrapper, "active");
        }
    });
});

</script>



<script>
const formatStringForId = (string) => string.toLowerCase().replace(/[^a-zA-Z]/g, "");

function isScrolledIntoView(element) {
    const elementCoordinates = element.getBoundingClientRect();
    const elemTop = elementCoordinates.top;
    const elemBottom = elementCoordinates.bottom;
    return elemTop >= 0 && elemBottom <= window.innerHeight;
}

const hideItems = (itemsList) => itemsList.length === 0 && $(".recent-stories").hide();

const recentList = $(".recent-stories-list").children("li"),
    recentListArray = [];

hideItems(recentList);

const currentArticleID = $("article").attr("data-article-id");

$(recentList).each(function () {
    const articleID = $(this).attr("data-article-id");
    /* if the current article ID matches anyone in the loop - then remove it */
    if (currentArticleID === articleID) {
        $(this).remove();
    } else {
        recentListArray.indexOf(articleID) === -1
            ? recentListArray.push(articleID)
            : $(this).remove();
    }
});

hideItems(recentListArray);

const addClass = (element, className) => {
    element.classList.add(className);
};
const removeClass = (element, className) => {
    element.classList.remove(className);
};
document.addEventListener("DOMContentLoaded", function () {
    const articleContentHole = document
        .querySelector(".article-container")
        .querySelector(".relative");
    const articleContent = articleContentHole.querySelector(".article-content");
    const h2List = articleContent.querySelectorAll("h2");
    const contentTableWrapper = document.querySelector("#contentTable");
    const tableContentEll = contentTableWrapper.querySelector("ul");
    const dropdownTableOfContent = contentTableWrapper.querySelector(".table-of-content-dropDown");
    for (const h2Item of h2List) {
        const innerText = h2Item.innerText;
        const formatedForClass = formatStringForId(innerText);
        h2Item.id = formatedForClass;
        const liEll = document.createElement("li");
        liEll.className = formatedForClass;
        const hrefEll = document.createElement("a");
        hrefEll.setAttribute("href", `#${formatedForClass}`);
        hrefEll.innerHTML = innerText;
        liEll.appendChild(hrefEll);
        tableContentEll.appendChild(liEll);

        const ellOnScreen = document.querySelector(`#${formatedForClass}`);
        const parrentLiEll = document.querySelector(`.${formatedForClass}`);
        window.addEventListener("scroll", function (e) {
            if (isScrolledIntoView(ellOnScreen)) {
                const siblings = [...parrentLiEll.parentElement.children];
                siblings.forEach((liItem) => liItem.classList.remove("highLighted"));
                parrentLiEll.classList.add("highLighted");
            }
        });
    }
    const commentsLi = document.createElement("li");
    const commentLink = document.createElement("a");
    commentLink.setAttribute("href", `#ask_question`);
    commentLink.innerHTML = "Comments";
    commentsLi.appendChild(commentLink);
    tableContentEll.appendChild(commentsLi);

    const liList = tableContentEll.querySelectorAll("li");

    for (let i = 0; i < liList.length; i++) {
        liList[i].addEventListener("click", function (e) {
            e.preventDefault();
            const linkHref = liList[i].querySelector("a").getAttribute("href");
            const scrollTarget = document.querySelector(linkHref);
            const topOffset = document.querySelector("header").offsetHeight;
            const elementPosition = scrollTarget.getBoundingClientRect().top;
            const offsetPosition = elementPosition - topOffset;
            window.scrollBy({
                top: offsetPosition,
                behavior: "smooth",
            });
            removeClass(contentTableWrapper, "active");
        });
    }

    dropdownTableOfContent.addEventListener("click", () => {
        if (contentTableWrapper.classList.contains("active")) {
            removeClass(contentTableWrapper, "active");
        } else {
            addClass(contentTableWrapper, "active");
        }
    });
});

</script>


