{%- assign preview_image = section.settings.imageHeroBanner -%}
{%- assign img_url =preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <!-- Hero Banner-->

  {% if collection.metafields.hero-banner.title != blank %}
  <div class="hero-section-collection mobile-none">
    {% assign bannerimg = collection.metafields.hero-banner.image | first %} 
    <img src="{{ bannerimg.cloudinary_src}}" alt="{{ bannerimg.alt }}"/>
    <div class="container-1120">
      <div class="content">
        <h1>{{collection.metafields.hero-banner.title}}</h1>
        <p class="large">{{collection.metafields.hero-banner.description}}</p>
      </div>
    </div>
  </div>
  
  {% else %}
  {% if section.settings.titleHeroBanner != blank %}
  <div class="hero-section-collection mobile-none">
    <img
        class="lazyload"
        alt="{{ section.settings.titleHeroBanner }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900]"
        data-aspectratio="{{ preview_image.aspect_ratio }}"
        data-sizes="auto"
        data-image
    />
    <div class="container-1120">
      <div class="content">
        <h1>{{ section.settings.titleHeroBanner}}</h1>
        <p class="large">{{ section.settings.descriptionHeroBanner}}</p>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  

  <!-- Quiz Mobile Block-->
  {% if collection.metafields.halfimg-halfcontent.title != blank %}
  <div class="collection-title-section mobile-block">
    <div class="container-1120">
      <div class="content">
        <h2>{{collection.metafields.halfimg-halfcontent.title}} </h2>
        <a href="{{collection.metafields.halfimg-halfcontent.button_url}}" class="btn-red" title="{{collection.metafields.halfimg-halfcontent.button_text}}">
          {{collection.metafields.halfimg-halfcontent.button_text}}</a>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Grid Begins-->
  {% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
  {% else %}
  {%- assign limit = 50 -%}
  {% endif %}

  {% paginate collection.products by limit %}
  <div class="collection-section" id="CollectionSection" data-section-id="{{ section.id }}"
    data-section-type="collection-template" data-sort-enabled="{{ section.settings.sort_enable }}"
    data-tags-enabled="{{ section.settings.tags_enable }}">
    <div class="container-1160 ">
      <div class="collection-header">
        <div class="page-width">
          <div class="section-header">
            <h2 class="capitalize">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ collection.title }}
            </h2>
          </div>
        </div>
        <!-- Sorting-->
        {% if section.settings.sort_enable %}
        {% include 'collection-sorting' %}
        {% endif %}
      </div>
      <div class="page-width Collection" >
        <!-- For Loop -->
        <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
          {% for product in collection.products %}
          <li class="grid__item grid__item--{{section.id}} small--one-half medium-up--one-third">
            {% include 'product-card-grid', max_height:  345, product: product, show_vendor: true %}
          </li>
          {% endfor %}
        </ul>
        {%- if paginate.pages > 1 -%}
        <div class="hidden">
          {% include 'pagination', paginate: paginate %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {% endpaginate %}

  <!-- Accessories --> 
  {% assign collectionHandle = 'accessories' %}
  {% if collections[collectionHandle].products.size > 0 %}
  <div class="collection-section other-collection">
    <div class="container-1160 ">
      <div class="page-width Collection" >
        <h3>{{collections[collectionHandle].title}}</h3>
        <ul class="grid grid--uniform {% if collections[collectionHandle].products.size > 0 %} grid--view-items{% endif %}">
          {% for _product in collections[collectionHandle].products %}
          <li class="grid__item grid__item--{{section.id}} small--one-half medium-up--one-third">
            {% include 'product-card-grid', max_height:  345, product: _product, show_vendor: true %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Half Image Half Content-->
  {% if collection.metafields.halfimg-halfcontent.title != blank %}
  <div class="half-image-half-content mobile-none">
    <div class="container-1320  flex">
      <div class="image-section">
        {% if collection.metafields.halfimg-halfcontent.image != blank %}
        {% assign img = collection.metafields.halfimg-halfcontent.image | first %} 
        <img src="{{ img.cloudinary_src}}" alt="{{ img.alt }}" class="lazyload"/>
        {% endif %}
      </div>
      <div class="content">
        <h2>{{collection.metafields.halfimg-halfcontent.title}} </h2>
        <p class="medium"> {{collection.metafields.halfimg-halfcontent.description}} </p>
        <a href="{{collection.metafields.halfimg-halfcontent.button_url}}" title="{{collection.metafields.halfimg-halfcontent.button_text}}" class="btn-red">
          {{collection.metafields.halfimg-halfcontent.button_text}} </a>
      </div>
    </div>
  </div>
  {% endif %}
</div>









