<div class="inner-page-banner flex-align-center">
  <div class="image-section">
    <picture>
      {% if section.settings.backgroundImageMobile != blank %}
        <source media="(max-width: 480px)" srcset="{{ section.settings.backgroundImageMobile | img_url: 'master' }}"
        alt="{{section.settings.title}}">
      {%endif%}
      {% if section.settings.backgroundImage != blank %}
        <img src="{{ section.settings.backgroundImage | img_url: 'master' }}" alt="{{section.settings.title}}">
      {%endif%}
    </picture>
  </div>
  <div class="container-1400">
    <div class="content">
      <h2>{{section.settings.title}}</h2>
      <p class="large">{{section.settings.description}} </p>
    </div>
  </div>
</div>






