<style>
  .rc-container-wrapper {
    display: none !important;
  }
</style>

{% assign fa_count = 0 -%}
{% assign originProductHandle = product.metafields.buy_now_product_link.product %}
{% assign originProduct = all_products[originProductHandle] %}
{% assign product_variants = originProduct.variants %}
{% assign fa_variant_count = originProduct.variants | size -%}
{% assign fa_current_variant = originProduct.selected_or_first_available_variant -%}
{% assign subscriptionOptionsList = product.metafields.subscription_options.subscription_options_title_arr %}
{% assign firstSubscriptionProductHandle = product.metafields.first_subscription.product %}
{% assign firstSubscriptionProduct = all_products[firstSubscriptionProductHandle] %}
{% assign secondSubscriptionProductHandle = product.metafields.second_subscription.product %}
{% assign secondSubscriptionProduct = all_products[secondSubscriptionProductHandle] %}

<script src="https://static.rechargecdn.com/assets/js/widget.min.js"></script>
<script>
  const originalProductJson = {{ originProduct | json }};
  const buyNowProductLink = "{{ originProduct.metafields.buy_now_product_link.product }}"
  const subscriptionHandlesArray = ["{{firstSubscriptionProductHandle}}", "{{secondSubscriptionProductHandle}}",]
  window.originalProduct = originalProductJson;
  window.subscriptionProducts = [{{firstSubscriptionProduct | json}}, {{secondSubscriptionProduct | json}}];
  window.subscriptionProductOptions = {{subscriptionOptionsList | json}}
  window.relevantProductLinks = {
    buy_now_link: buyNowProductLink,
    subscription_link:subscriptionHandlesArray,
  };
window.isLogged ={% if customer %} true {% else %}  false {% endif %};
window.isAnyCustomerStatus ={% if product.template_suffix == 'accessoriesWithSubscriptions' %} true {% else %}  false {% endif %};
</script>
{% form 'product', originProduct, class:productform_class %}  
  {% unless settings.disable_autogenerated_payment_terms %}
    {% assign payment_terms = form | payment_terms %}
    <script>
      window.paymentTermsString = '{{payment_terms}}'
    </script>
  {% endunless %}
{% endform %}

<div class="container-1160 pdp-section flex">
  <!-- Left Product Image Slider Section -->
  {%include 'pdp-images'%}
  <!-- Right Product Information Section -->
  <div class="pdp-information" id="ProductSection"
    data-section-id="{{ section.id }}" data-section-type="product-template"
    data-image-zoom-type="{{ section.settings.product_image_zoom_type }}"
    data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-enable-history-state="true">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <div class="product-single">
      <div class="pdp-step-one pdp-steps active">
        <div class="grid product-single__hero">
          <div class="grid__item post-large--one-half">
            {% if section.settings.product_vendor_enable %}
            <span class="h3" itemprop="brand">{{ product.vendor }}</span>
            {% endif %}
            <div>
              <div id="productTitleRoot"></div>
              <div class="price-review-section flex">
                {% assign variant = product.selected_or_first_available_variant %}
                <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
                <link itemprop="availability"
                  href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                <div id="productPriceRoot"></div>
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div
                  class="product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
                  {%- if shop.taxes_included -%}
                  {{ 'products.general.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
                {% render 'review-block' productData: product %}
              </div>
              <div class="product-actions-wrapper hide product-variant-section js-fieldset-variant"
                id="targetForObserver">
                {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
                {% for option in product.options_with_values %}
                <div class="variant-type-outer" id="ProductSelect-option-{{ forloop.index0 }}"
                  name="{{ option.name | handleize }}">
                  {% assign option_index = forloop.index0 %}
                  {%- capture option_id -%}
                  single-option-{{ form_id }}-{{ option_index }}
                  {%- endcapture -%}
                  <div class="variant-type">
                    <label class="product-option-column-1 product-option-row-{{ forloop.index }} selected-text"
                      for="{{ option_id }}" data-select-text>
                      <strong>{{ option.name }}:</strong>
                    </label>
                  </div>
                  <div class="variantsSelectOption">
                    <select class="single-option-selector" id="{{ option_id }}" data-option-select
                      data-option-select="{{ form_id }}" data-option-index="{{ option_index }}"
                      name="{{ option.name | handleize }}">
                      {% for value in option.values %}
                      {% assign value = value | escape %}
                      <option value="{{ value }}" {% if
                        option.selected_value==value %}selected="selected" {% endif %}>
                        {{ value }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                {% endfor %}
                {% endunless %}
                <div
                  class="js-product-single__quantity {% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                  <div class="quantity-outer"><a class="minus-qty js-minus-qty"></a> <input type="text"
                      class="quantity-selector js-quantity-selector" value="1"><a class="plus-qty js-plus-qty"></a>
                  </div>
                </div>
              </div>
              <div id="trialSwitcherRoot">
                {% unless settings.disable_autogenerated_payment_terms %}
                <div class="payment-terms">
                  {{ form | payment_terms }}
                </div>
                {% endunless %}
              </div>
              <div id="subscriptionSwitcherRoot"></div>
              <div id="subscriptionOptionsRoot"></div>
              <div class="js-pdp-options pdp-options">
                <div id="buynowSwitcherRoot"></div>
              </div>
                <div id="paymentTermsInfoRoot"></div>
                <div id="optionsBlockRoot"></div>
              <form action="/cart/add" data-productid="{{originProduct.id}}" method="post" enctype="multipart/form-data"
                id="AddToCartForm" class="recharge-form-detail">
                <div class="js-pdp-payxxx-options pdp-options">
                  <script>
                    var subscriptionLib = [
                      {% if product.selling_plan_groups[0].selling_plans.size > 0 %}
                    {% for interval in product.selling_plan_groups[0].selling_plans %}
                    {
                      id: "{{ interval.id }}",
                        variants: "{{interval.options[0].value}}"
                    } {% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                    {% endif %}
                              ];
                  </script>
                  <div class="js-inject-recharge hide" id="js-main-product"
                    data-sellingplanidProduct="{{ originProduct.selling_plan_groups[0] | json }}"></div>
                  <div class="js-inject-recharge" id="js-main-product"
                    data-sellingplanidProduct="{{ trialProduct.selling_plan_groups[0] | json }}"></div>
                  <script>
                    const widget = ReChargeWidget.createWidget({
                      productId: {{ product.id }}, // required
                      injectParent: '.js-inject-recharge', // optional
                      injectMethod: 'prepend' // optional
                    });
                  </script>
                </div>
                <select name="id" data-productid="{{ originProduct.selected_or_first_available_variant.id}}"
                  id="ProductSelect-{{ section.id }}" class="product-id product-form__variants no-js ">
                  {% for variant in originProduct.variants %}
                  {% if variant.available %}
                  <option {% if variant == originProduct.selected_or_first_available_variant %} selected="selected" {% endif %}
                    value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                  {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                {% if originProduct.metafields.product-tooltip.tooltip_heading != blank %}
                <div class="note-section">
                  <a class="note-link">{{originProduct.metafields.product-tooltip.tooltip_heading}} </a>
                  <div class="note-tooltip">
                    <p> {{originProduct.metafields.product-tooltip.tooltip_description}} </p>
                  </div>
                </div>
                {% endif %}
                {%comment%}
                ordering for multiple people
                {%endcomment%}
                <div id="addToCartRoot"></div>
                <div class="hide">
                  {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="info-section">
        <div class="info-section__titleWrapper">
          <div class="info-section__title active" data-section-type="return">365-day return policy</div>
          <div class="info-section__title" data-section-type="shipping">Free shipping</div>
        </div>
        <div class="info-section__contentWrapper">
          <div class="info-section__content active" data-section-type="return">
            If you don’t like your night guard for any reason, you can return it within 365 days for a full refund.
          </div>
          <div class="info-section__content " data-section-type="shipping">
            Standard shipping is always free. For trial orders, the initial $1 shipping cost will be deducted from the
            full purchase price of the product if you decide to keep the guard. So the shipping cost will be free as
            well.
          </div>
        </div>
      </div>
      <div id="modals"></div>
    </div>
  </div>
</div>
{% unless originProduct == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
  <script id="productVariants">
    const prodVariants = [
      {% for variant in originProduct.variants %}
        {
          id: {{ variant.id }},
          title: "{{variant.title}}",
          sku: "{{variant.sku}}"
        }
      {% unless forloop.last %}
        ,
      {% endunless %}
    {% endfor %}
  ]
      </script>

<script>
    const addonProdVariants = [
      {% for productRec in originProduct.metafields.accentuate.addone_handles %}
      {% assign _product = all_products[productRec] %}
      {% for variant in _product.variants %}
      {
        prodId: {{ _product.id }},
        id: {{ variant.id }},
        title: "{{variant.title}}",
        sku: "{{variant.sku}}"
      }
      {% unless forloop.last %}, {% endunless %}
      {% endfor %}
      {% unless forloop.last %}, {% endunless %}
      {% endfor %}
    ];
    </script>
{% endunless %}

<script type="application/ld+json" data-creator_name="FeedArmy">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{ product.title | strip_html | escape }}",
    "url": "{{ shop.url }}{{ product.url }}",
    {%- if product.variants.first.sku != blank -%}
      "sku": "{{ product.variants.first.sku }}",
    {%- else -%}
      "sku": "{{ product.variants.first.id }}",
    {%- endif -%}
    {%- if product.variants.first.barcode.size == 12 -%}
      "gtin12": {{ product.variants.first.barcode }},
    {%- endif -%}
    {%- if product.variants.first.barcode.size == 13 -%}
      "gtin13": {{ product.variants.first.barcode }},
    {%- endif -%}
    {%- if product.variants.first.barcode.size == 14 -%}
      "gtin14": {{ product.variants.first.barcode }},
    {%- endif -%}
      "productID": "{{ product.id }}",
    "brand": {
      "@type": "Thing",
      "name": "{{ product.vendor | escape }}"
    },
    "description": {{ product.description | strip_html | json }},
    "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
    {%- if product.variants -%}
    {%- assign fa_count = fa_count | plus: 1 -%}
      "offers": {% if product.variants.size > 1 %}[{% endif %}
        {
          "@type" : "Offer",
          "priceCurrency": "{{ cart.currency.iso_code }}",
          "price": "{{ fa_current_variant.price | money_without_currency  | strip_html | remove: ',' }}",
          "itemCondition" : "http://schema.org/NewCondition",
          "availability" : "http://schema.org/{% if fa_current_variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "url" : "{{ shop.url }}{{ fa_current_variant.url }}",
              {%- if fa_current_variant.image -%}
                {% assign variant_image_size = fa_current_variant.image.width | append: 'x' %}
                "image": "https:{{ fa_current_variant.image.src | img_url: variant_image_size }}",
              {%- else -%}
                "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
              {%- endif -%}
              {%- if fa_current_variant.title != 'Default Title' -%}
                "name" : "{{ product.title | strip_html | escape }} - {{ fa_current_variant.title | escape }}",
              {%- else -%}
                "name" : "{{ product.title | strip_html | escape }}",
              {%- endif -%}
              {% if fa_current_variant.barcode.size == 12 %}
                "gtin12": {{ fa_current_variant.barcode }},
              {%- endif -%}
              {%- if fa_current_variant.barcode.size == 13 -%}
                "gtin13": {{ fa_current_variant.barcode }},
              {%- endif -%}
              {%- if fa_current_variant.barcode.size == 14 -%}
                "gtin14": {{ fa_current_variant.barcode }},
              {%- endif -%}
              {%- if fa_current_variant.sku != blank -%}
                "sku": "{{ fa_current_variant.sku }}",
              {%- else -%}
                "sku": "{{ fa_current_variant.id }}",
              {%- endif -%}
              {%- if product.description != blank -%}
              "description" : {{ product.description | strip_html | json }},
              {%- endif -%}
            "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
        }{%- if product.variants.size != 1 -%},{%- endif -%}
        {%- for variant in product.variants -%}
        {%- if variant != product.selected_or_first_available_variant -%}
        {%- assign fa_count = fa_count | plus: 1 -%}
          {
            "@type" : "Offer",
            "priceCurrency": "{{ cart.currency.iso_code }}",
            "price": "{{ variant.price | money_without_currency  | strip_html | remove: ',' }}",
            "itemCondition" : "http://schema.org/NewCondition",
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "url" : "{{ shop.url }}{{ variant.url }}",
                {%- if variant.image -%}
                  {% assign variant_image_size = variant.image.width | append: 'x' %}
                  "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                {%- else -%}
                  "image": "https:{{ product.featured_image.src | img_url: 'grande' }}",
                {%- endif -%}
                {%- if variant.title != 'Default Title' -%}
                  "name" : "{{ product.title | strip_html | escape }} - {{ variant.title | escape }}",
                {%- else -%}
                  "name" : "{{ product.title | strip_html | escape }}",
                {%- endif -%}
                {%- if variant.barcode.size == 12 -%}
                  "gtin12": {{ variant.barcode }},
                {%- endif -%}
                {%- if variant.barcode.size == 13 -%}
                  "gtin13": {{ variant.barcode }},
                {%- endif -%}
                {%- if variant.barcode.size == 14 -%}
                  "gtin14": {{ variant.barcode }},
                {%- endif -%}
                {%- if variant.sku != blank -%}
                  "sku": "{{ variant.sku }}",
                {%- else -%}
                  "sku": "{{ variant.id }}",
                {%- endif -%}
                {%- if product.description != blank -%}
                "description" : {{ product.description | strip_html | json }},
                {%- endif -%}
                "priceValidUntil": "{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}"
            }
            {%- if fa_count < fa_variant_count -%}
             {%- unless forloop.last -%},{%- endunless -%}
            {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
      {%- if product.variants.size > 1 -%}],
        "additionalProperty": [{
          "@type": "PropertyValue",
          "propertyID": "item_group_id",
          "value": "{{ product.id }}"
        }]
        {%- endif -%}
      {%- if product.metafields.spr.reviews -%}
      {%- assign fa_rating = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
      {%- if fa_rating > 0 -%}
      ,"aggregateRating": {
       "@type": "AggregateRating",
       "ratingValue": {{ product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0 }},
       "ratingCount": {{ product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 }}
      }
      {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  }
</script>
</div>

<style>
  .rc-container-wrapper{
    display: none !important;
  }
  .selector-wrapper {
    display:none;
  }
</style>
{{ 'product-detail.js' | asset_url | script_tag }}
<script src="https://static.rechargecdn.com/assets/js/widget.min.js"></script>
