{% assign sellingPlanIDProduct = product.selling_plan_groups[0].selling_plans[0].id %}

<div class="container-1160 pdp-section flex">
  <!-- Left Product Image Slider Section -->
  {%include 'pdp-images'%}
  <!-- Right Product Information Section -->
  <div class="pdp-information" id="ProductSection"
    data-section-id="{{ section.id }}" data-section-type="product-template"
    data-image-zoom-type="{{ section.settings.product_image_zoom_type }}"
    data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-enable-history-state="true">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <!--<div class="section-header section-header--breadcrumb">
        {% include 'breadcrumb' %}
      </div>-->
    <div class="product-single">
      <div class="pdp-step-one  pdp-steps active">
        <div class="grid product-single__hero">
          <div class="grid__item post-large--one-half">
            {% if section.settings.product_vendor_enable %}
            <span class="h3" itemprop="brand">{{ product.vendor }}</span>
            {% endif %}
            <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>
            <!--<div class="product-description rte" itemprop="description">
                {{ product.description }}
              </div>-->
            <div>
              <div class="price-review-section flex">
                {% assign variant = product.selected_or_first_available_variant %}
                <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
                <link itemprop="availability"
                  href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                <div
                  class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
                  <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <span id="ProductPrice" class="product-single__price" itemprop="price"
                    content="{{ product.price | divided_by: 100.00 }}">
                    {{ product.price | money }}
                  </span>
                  {% if product.compare_at_price > product.price %}
                  <span id="ComparePriceA11y" class="visually-hidden"
                    aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
                  <s id="ComparePrice" class="product-single__sale-price">
                    {{ product.compare_at_price_max | money }}
                  </s>
                  {% else %}
                  <span id="ComparePriceA11y" class="visually-hidden"
                    aria-hidden="true">{{ 'products.product.sale_price' | t }}</span>
                  <s id="ComparePrice" class="product-single__sale-price hide">
                    {{ product.compare_at_price_max | money }}
                  </s>
                  {% endif %}
                  {% include 'product-unit-price', variant: variant, available: true %}
                </div>
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div
                  class="product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
                  {%- if shop.taxes_included -%}
                  {{ 'products.general.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
                <!-- Ratings -->
                {% render  'review-block' productData: product %}
              </div>
              {% form 'product', product, class:productform_class %}
              <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data"
              id="AddToCartForm" class="recharge-form-detail">
<div class="js-pdp-payxxx-options pdp-options">
  <div class="rc-widget-injection-parent"></div>
<script>
  var subscriptionLib = [
    {% if product.selling_plan_groups[0].selling_plans.size > 0 %}
  {% for interval in product.selling_plan_groups[0].selling_plans %}
  {
    id: "{{ interval.id }}",
      variants: "{{interval.options[0].value}}"
  } {% unless forloop.last %}, {% endunless %}
  {% endfor %}
  {% endif %}
          ];
</script>
<div class="js-inject-recharge" id="js-main-product"
  data-sellingplanidProduct="{{ product.selling_plan_groups[0] | json }}"></div>
<script>
  window.addEventListener('ReChargeWidget-loaded', () => {
    // Widget has loaded
    var widget = ReChargeWidget.createWidget({
       productId: {{ product.id }}, // required
       injectParent: '.js-inject-recharge', // optional
       injectMethod: 'prepend' // optional
    });
  });

  
</script>
</div>
                <div class="accessories-selector-wrapper flex">
                  <select name="id" data-productid="{{ product.selected_or_first_available_variant.id}}"
                    id="ProductSelect-{{ section.id }}" class="product-id product-form__variants no-js" 
                    data-sellingPlan = "{{sellingPlanIDProduct}}">
                    {% for variant in product.variants %}
                    {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected"
                      {% endif %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                    {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                    {% if product.metafields.product-tooltip.tooltip_heading != blank %}
                        <div class="note-section">
                          <a class="note-link">{{product.metafields.product-tooltip.tooltip_heading}} </a>
                          <div class="note-tooltip">
                            <p> {{product.metafields.product-tooltip.tooltip_description}} </p>
                          </div>
                        </div>
                    {% endif %}
                  <div class="product-single__quantity js-product-single__quantity ">
                    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                    <div class="quantity-outer" data-children-count="1"><a class="minus-qty js-minus-qty"></a> <input
                        type="text" class="quantity-selector js-quantity-selector" value="1" id="Quantity"
                        name="quantity"><a class="plus-qty js-plus-qty"></a></div>
                  </div>
                </div>
                <div 
                  id="freeTrialAddToCart" 
                  class="btn-red cart add-to-cart-button buy-now-button" 
                  data-sellingPlanId ="{{sellingPlanIDProduct}}">
                    Bite Now
                </div>
               
                <div class="hide">
                {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
                {% endif %}
              </div>
                <!-- {% endform %} -->
              </form>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>
{% endunless %}

{% include 'klaviyo-track-added-to-cart' %}

{{ 'product-details-global.js'  | asset_url | script_tag }}








