{%- capture avada-seo-original -%}
<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"js-dental.myshopify.com",ver:"2.12",plat:"SHOPIFY",isHeadless:false},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","text/plain")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,a){return void 0===a&&(a=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(a)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,plat:A.TriplePixelData.plat,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"js-dental.myshopify.com",ver:"1.9.0"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("//conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("//api.config-security.com/",5,p),O("//triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J7MW1CYX0P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-J7MW1CYX0P');
</script>
      

        <!-- Added by AVADA SEO Suite -->
        {% include 'avada-seo' %}
        <!-- /Added by AVADA SEO Suite -->
        {% include 'head'%} {% include 'head-scripts'%}
        <!-- For customer templates only -->
        {%- if request.page_type contains 'customers/' -%}
        <script type="module" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
        {%- endif -%} {% if template contains 'customers' %} {{ 'shopify_common.js' |
        shopify_asset_url | script_tag }} {{ 'customer_area.js' | shopify_asset_url | script_tag }}
        {% endif %}

        <!-- Product object -->
        <script>
            window.theme = window.theme || {};
            var theme = {
              strings: {
                addToCart: {{ 'products.product.add_to_cart' | t | json }},
            soldOut: {{ 'products.product.sold_out' | t | json }},
            unavailable: {{ 'products.product.unavailable' | t | json }},
            zoomClose: {{ "products.zoom.close" | t | json }},
            zoomPrev: {{ "products.zoom.prev" | t | json }},
            zoomNext: {{ "products.zoom.next" | t | json }},
            addressError: {{ 'map.errors.address_error' | t | json }},
            addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
            addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
            authError: {{ 'map.errors.auth_error_html' | t | json }}
              },
            settings: {
              // Adding some settings to allow the editor to update correctly when they are changed
            },
            variables: {
              mediaQueryMedium: 'screen and (max-width: 768px)',
                bpSmall: false
            },
              moneyFormat: {{ shop.money_format | json }}
            }
            document.documentElement.className = document.documentElement.className.replace('no-js', 'supports-js');
        </script>
        <script type="text/javascript">
            if (window.MSInputMethodContext && document.documentMode) {
                var scripts = document.getElementsByTagName("script")[0];
                var polyfill = document.createElement("script");
                polyfill.defer = true;
                polyfill.src = "{{ 'ie11CustomProperties.min.aio.min.js' | asset_url }}";
                scripts.parentNode.insertBefore(polyfill, scripts);
            }
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                (function (w, d, t, r, u) {
                    var f, n, i;
                    (w[u] = w[u] || []),
                        (f = function () {
                            var o = { ti: "149006939", tm: "shpfy_ui" };
                            (o.q = w[u]), (w[u] = new UET(o)), w[u].push("pageLoad");
                        }),
                        (n = d.createElement(t)),
                        (n.src = r),
                        (n.async = 1),
                        (n.onload = n.onreadystatechange = function () {
                            var s = this.readyState;
                            (s && s !== "loaded" && s !== "complete") ||
                                (f(), (n.onload = n.onreadystatechange = null));
                        }),
                        (i = d.getElementsByTagName(t)[0]),
                        i.parentNode.insertBefore(n, i);
                })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
            });
        </script>
        <!-- Reddit Pixel -->
        <script>
            !(function (w, d) {
                if (!w.rdt) {
                    var p = (w.rdt = function () {
                        p.sendEvent ? p.sendEvent.apply(p, arguments) : p.callQueue.push(arguments);
                    });
                    p.callQueue = [];
                    var t = d.createElement("script");
                    (t.src = "https://www.redditstatic.com/ads/pixel.js"), (t.async = !0);
                    var s = d.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(t, s);
                }
            })(window, document);
            rdt("init", "t2_625yumqi");
            rdt("track", "PageVisit");
        </script>
        <script>
            rdt("track", "Purchase");
        </script>
        <!-- DO NOT MODIFY -->
        <!-- End Reddit Pixel -->
        {{ content_for_header }}

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                var scaaffCheck = false;
            });
        </script>
        {{ 'sca_affiliate.aio.min.js' | asset_url | script_tag }}
        <meta name="facebook-domain-verification" content="x0m1wv33ehddex75cwrn80z1v0xnu5" />
        <!-- Global site tag (gtag.js) - Google Ads: 976544040 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-976544040"></script>
        <meta
            name="google-site-verification"
            content="OJAeOxRr0iYZJr_2F3cRz1qzLTGoOrNG1dDqoY-HD8I"
        />
         {%- if product -%} {%- assign
        discountninjaproduct = product -%} {%- endif -%} {%- if collection -%} {%- assign
        discountninjacollection = collection -%} {%- endif -%} {{ 'bundle.css' | asset_url |
        stylesheet_tag }} {% render 'gsf-conversion-pixels' %}

        <!-- CustomerLabs Tag -->
        <script>
            !(function (t, e, r, c, a, n, s) {
                (t.ClAnalyticsObject = a),
                    (t[a] = t[a] || []),
                    (t[a].methods = ["trackSubmit", "trackClick", "pageview", "identify", "track"]),
                    (t[a].factory = function (e) {
                        return function () {
                            var r = Array.prototype.slice.call(arguments);
                            return r.unshift(e), t[a].push(r), t[a];
                        };
                    });
                for (var i = 0; i < t[a].methods.length; i++) {
                    var o = t[a].methods[i];
                    t[a][o] = t[a].factory(o);
                }
                (n = e.createElement(r)),
                    (s = e.getElementsByTagName(r)[0]),
                    (n.async = 1),
                    (n.crossOrigin = "anonymous"),
                    (n.src = c),
                    s.parentNode.insertBefore(n, s);
            })(window, document, "script", "//cdn.js.customerlabs.co/cl45107yi01mum.js", "_cl");
            _cl.SNIPPET_VERSION = "1.0.0";
        </script>
        <!-- End of CustomerLabs Tag -->
        <script>
            !(function () {
                var analytics = (window.analytics = window.analytics || []);
                if (!analytics.initialize)
                    if (analytics.invoked)
                        window.console &&
                            console.error &&
                            console.error("Segment snippet included twice.");
                    else {
                        analytics.invoked = !0;
                        analytics.methods = [
                            "trackSubmit",
                            "trackClick",
                            "trackLink",
                            "trackForm",
                            "pageview",
                            "identify",
                            "reset",
                            "group",
                            "track",
                            "ready",
                            "alias",
                            "debug",
                            "page",
                            "once",
                            "off",
                            "on",
                            "addSourceMiddleware",
                            "addIntegrationMiddleware",
                            "setAnonymousId",
                            "addDestinationMiddleware",
                        ];
                        analytics.factory = function (e) {
                            return function () {
                                var t = Array.prototype.slice.call(arguments);
                                t.unshift(e);
                                analytics.push(t);
                                return analytics;
                            };
                        };
                        for (var e = 0; e < analytics.methods.length; e++) {
                            var key = analytics.methods[e];
                            analytics[key] = analytics.factory(key);
                        }
                        analytics.load = function (key, e) {
                            var t = document.createElement("script");
                            t.type = "text/javascript";
                            t.async = !0;
                            t.src =
                                "https://cdn.segment.com/analytics.js/v1/" +
                                key +
                                "/analytics.min.js";
                            var n = document.getElementsByTagName("script")[0];
                            n.parentNode.insertBefore(t, n);
                            analytics._loadOptions = e;
                        };
                        analytics._writeKey = "JK0QBGpT5DIIBxlPeyV2iiFOmGfXF999";
                        analytics.SNIPPET_VERSION = "4.15.3";
                        analytics.load("JK0QBGpT5DIIBxlPeyV2iiFOmGfXF999");
                        analytics.page();
                    }
            })();
        </script>

        {% render 'sca-aff-refer-customer' %}


</head>

    <body class="template-{{ request.page_type | handle }}">
        {% section 'header' %}
        <div class="page-container drawer-page-content" id="PageContainer">
            <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
                {{ content_for_layout }}
            </main>
            {% section 'footer' %}
        </div>
        {% render 'cart-drawer' %}
        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
            <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
        </ul>
        <!-- PDP Page Variant Selection BEGINS -->
        {% if request.page_type == 'product' or request.page_type == 'index' %} {{
        'option_selection.js' | shopify_asset_url | script_tag }} {% endif %}
        <link rel="preload" href="{{ 'theme.aio.min.js' | asset_url }}" as="script" />
        <!-- PDP Page Variant Selection ENDS -->
        <!-- Initialise Cart.js once the page has loaded -->
        {{ 'rivets-cart.min.aio.min.js' | asset_url | script_tag }}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded',()=>{
              CartJS.init({{ cart | json }}, {
              });
              // Re-render CartJS data- elements when the currency changes.
              jQuery(document).on('currency.changed', function (e, oldCurrency, newCurrency) {
                CartJS.render(e, CartJS.cart);
              });
            })
        </script>
        <script>
            function addEventListenerStamped(el, eventName, handler) {
                if (el.addEventListener) {
                    el.addEventListener(eventName, handler);
                } else {
                    el.attachEvent("on" + eventName, function () {
                        handler.call(el);
                    });
                }
            }

            // Example
            // Listening for reviews widget loaded event
            addEventListenerStamped(document, "stamped:reviews:loaded", function (e) {
                $("#tab-questions").on("click", function () {
                    StampedFn.toggleForm("question", "{{product.id}}");
                    return false;
                });
            });
        </script>
        <script
            defer
            async
            type="text/javascript"
            id="stamped-script-widget"
            data-api-key="pubkey-S7d9X2R7Yk2n6s234CGJ0sp6615c6K"
            src="https://cdn1.stamped.io/files/widget.min.js"
        ></script>

        {% include 'advanced_preorder' %} {% render 'sh-ssp-theme-snippet' %}

        <!-- Start of HubSpot Embed Code -->
        <script
            type="text/javascript"
            id="hs-script-loader"
            async
            defer
            src="//js.hs-scripts.com/14562610.js"
        ></script>
        <!-- End of HubSpot Embed Code -->
        {% include 'adroll' %} {% unless customer %}
        <style>
            .stamped-rewards-launcher {
                display: none !important;
            }
        </style>

        {% endunless %} {% include 'stamped-rewards-init' %} 
      {% comment %}
      {% include 'limoniapps-discountninja-body' %}
      {% endcomment %}

        <script src="{{ 'bundle.js' | asset_url }}" defer></script>
        <script src="{{ 'theme.js' | asset_url }}" defer></script>
        <script src="{{ 'custom.js' | asset_url }}" defer></script>
        <script
            type="module"
            src="{{ 'jquery.magnific-popup.min.aio.min.js' | asset_url }}"
        ></script>

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>

        {{ 'lity.aio.min.js' | asset_url | script_tag }}

        <script
            defer
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <!-- Hot jar -->
        <!-- Hotjar Tracking Code for http://jsdentallab.com -->
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                (function (h, o, t, j, a, r) {
                    h.hj =
                        h.hj ||
                        function () {
                            (h.hj.q = h.hj.q || []).push(arguments);
                        };
                    h._hjSettings = { hjid: 214507, hjsv: 6 };
                    a = o.getElementsByTagName("head")[0];
                    r = o.createElement("script");
                    r.async = 1;
                    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                    a.appendChild(r);
                })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
            });
        </script>
        

{% include 'adroll' %}
<!--Structured data markup code added by Simprosys Infomedia - Start-->
{% if template contains 'product' %}
  <script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"Product",
    "@id":"{{ shop.url }}{{ product.url}}", 
    "name": {{ product.title | json }},
    "sku": {{ product.selected_or_first_available_variant.sku | json }},
    "description": {{ product.description | strip_html | truncatewords: 50 | json }},
    "url": "{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}",
    "image": "https:{{ product.featured_image | product_img_url: 'grande' }}",
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }},
      "url": {{ jsonld_brand_url | json }}
    },
    "gtin": "{{ product.selected_or_first_available_variant.barcode }}",
    "offers": [{
      "@type": "Offer",
      "priceCurrency": "{{ cart.currency.iso_code }}",
      "price": "{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}",
      "availability": "http://schema.org/{% if product.selected_or_first_available_variant.available %}InStock{% else %}OutOfStock{% endif %}",
      "itemCondition": "http://schema.org/NewCondition",
      "seller": "{{ shop.name | escape }}",
      "url": "{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}"
    }]
    
  }
  </script>
{% endif %}
<!--Structured data markup code added by Simprosys Infomedia - End -->
    </body>
</html>

{%- endcapture avada-seo-original -%} {%- capture avada-seo-minified -%} {%- include
'avada-seo-minifier', content: avada-seo-original -%} {%- endcapture -%} {%- if avada-seo-minified
contains 'Liquid error' -%} {{ avada-seo-original }} {%- else -%} {{ avada-seo-minified }} {%- endif
-%}
